[2016-03-21 20:03] Saallen opened #1 "Update MozFest 2016 website home page"
Currently the website is still in 2015 mode

To update we need to add
- [x]  2016 dates
- [x] 2015 VIDEO
- [x] Stay in touch information
- [x] Remove 2015 pages such as
 - [ ] Tickets
 - [ ]  schedule
 - [ ] remote
 - [ ] Fringe events

It would be really great to get the home page in 2016 shape asap cc @edrushka

[2016-03-21 20:09] Saallen opened #2 "Kick off work for 2016 website"
Key website release moments

** Early April** - Release 1- Save the date- vidyo
**May** - Release 2- Call for Proposals + 2016 narrative
**Sept** Update 3 Accepted proposals on the site
**Oct**  Update 5- festival site
**Nov** Update 6- post festival

CC @edrushka

[2016-03-21 20:11] Saallen opened #3 "Decide on Call for Proposal submission location"
In 2015 we submitted all session to this [repo ](https://github.com/mozilla/mozfest-program) as a curation tool

Can we use Github again this year but have a stream lined process of submission to repo?
Or is there another tool we can use

CC @edrushka

[2016-03-21 20:13] edrushka commented on #2
Is there any way we can combine 1 and 2 into one update?

[2016-03-21 20:17] Saallen commented on #2
We need to update the home page asap as it currently looks like this
https://2015.mozillafestival.org/

We cannot wait until May for this to be completed as Space Wrangler and partners need to be able to point towards something as a form of reference. I am already getting emails about where ppl can find more information.
I dont think leaving the website in its current states does the festival any

[2016-03-21 20:21] edrushka commented on #2
Agree, we need to update asap.

If we merged updates 1 and 2, we wouldn't necessarily have to wait until May to ship it. I just worry it'll be difficult to get the resources from TPS for 2 separate updates. I can try, but I can't guarantee we'll get it.

[2016-03-21 20:27] Saallen commented on #2
Hmm, May update is the space narrative, Marks speech bubble, ticket page and CfP.
Most of this content will be built at the MozRetreat.... :pray:

[2016-03-21 20:55] edrushka commented on #1
[Ticket filed in Plan](https://github.com/MozillaFoundation/plan/issues/773). Fingers crossed!

[2016-03-21 21:09] edrushka commented on #1
I also added "update the team page" since many partners will probably be checking there.

[2016-03-24 22:09] edrushka commented on #3
Decision: we'll use this repo, https://github.com/MozillaFoundation/2016.Mozillafestival.org, to curate sessions.

[2016-03-24 22:09] #3 closed

[2016-03-24 22:28] edrushka commented on #2
**Release 1 - Save the Date**
- [Ticket filed.](https://github.com/MozillaFoundation/plan/issues/773)
- Requested deadline of April 8. _Firm_ deadline of April 29.

**Release 2 - Open call for Proposals & 2016 narrative**
- _Absolutely firm_ deadline of June 1
- we'll add our notes in a ticket for each page
- we'll meet with MW and Jordan to talk about when to integrate the refreshed design
- I wi

[2016-03-24 22:45] edrushka opened #4 "Scope Landing page updates"
Link to current page: https://2015.mozillafestival.org/

**What needs updating (by when):**
**Asap**
- [x]  Mozilla 2016 Video
- [x]  Swap Buy a ticket for Sign up for updates line
- [x]  Add dates for this years festival

- [x] Remove/hide from navigation until individual pages are updated in **May**
 - [ ] Tickets
 - [ ] Submission process
 - [ ] Fringe events
- [x] Remove/hide from bottom navig

[2016-03-24 22:46] edrushka opened #5 "Scope Tickets page updates"
Link to current page: https://2015.mozillafestival.org/tickets

**What needs updating by June:**
- [ ]  Update link
- [ ]  Provide more information about tickets on this page
- [x] Make page look spiffy

**Other thoughts/ideas**:
- [ ]

[2016-03-24 22:47] edrushka opened #6 "Scope Location page updates"
Link to current page: https://2015.mozillafestival.org/location

**What needs updating October:**
- [ ] Update content for 2016
- [ ] Freshen page

**Other thoughts/ideas**:
- [ ] Move to bottom navigational bar

[2016-03-24 22:48] edrushka opened #7 "Scope What to Expect page updates"
Link to current page: https://2015.mozillafestival.org/expect

**What needs updating by June:**
- [ ] Mark speech
- [ ] Weekend outline- new dates
- [ ] Update content to 2016
- [ ] Freshen page

**Other thoughts/ideas**:
- [ ]

[2016-03-24 22:49] edrushka opened #8 "Scope Remote Participation page updates"
Link to current page: https://2015.mozillafestival.org/remote

**What needs updating by September:**
- [ ] Content will  change with updated ways to participate and new channels
- [ ] Freshen page

**Other thoughts/ideas**:
- [ ]

[2016-03-24 22:50] edrushka opened #9 "Scope Contact page updates"
#Link to current page: https://2015.mozillafestival.org/contact (a.k.a "get in touch" page)

**What needs updating Sept**
- [ ] Freshen page

**Other thoughts/ideas**:
- [ ] Add stay in touch link to sign up for updates

[2016-03-24 22:52] edrushka opened #10 "Scope Tweet #mozfest page updates"
Link to current page: https://twitter.com/intent/tweet?text=%23mozfest&source=webclient

**What needs updating June:**
- [ ] add sample text for tweet
- [ ]

**Other thoughts/ideas**:
- [ ] Add content from our own twitter page- like a scribble page

[2016-03-24 22:53] edrushka opened #11 "Scope Volunteer page updates"
Link to current page: https://2015.mozillafestival.org/volunteer

**What needs updating June:**
- [ ] Update content
- [ ] Add link to 2016 sign up page
- [ ] Freshen page

**Other thoughts/ideas**:
- [ ]

[2016-03-24 22:53] edrushka opened #12 "Scope Fringe Events page updates"
Link to current page: https://2015.mozillafestival.org/fringe

**What needs updating June:**
- [ ] Create new google form for submissions
- [ ] Update the content to 2016
- [ ]  Refresh page

**Other thoughts/ideas**:
- [ ] Remix the google form to allow for logos?-
- [ ]

[2016-03-24 22:54] edrushka opened #13 "Scope About page updates"
Link to current page: https://2015.mozillafestival.org/about

**What needs updating by June**
- [ ] Add 2015 to the timelines
- [ ] Update numbers
- [ ] Freshen page

**Other thoughts/ideas**:
- [ ]

[2016-03-24 22:58] edrushka opened #14 "Scope Festival Team page updates"
Link to current page: https://2015.mozillafestival.org/team

**What needs updating (by when):** **October**
- [ ] put Sarah's bio at top (and update role to Director?)
- [ ] add Erika's bio
- [ ] edit Michelle's role
- [ ] Update all bios
- [ ] Freshen page

**Other thoughts/ideas**:
- [ ]

[2016-03-24 23:00] edrushka opened #15 "Scope Participation Guidelines page updates"
Link to current page: https://2015.mozillafestival.org/guidelines

**What needs updating by October:**
- [ ] Link to the full Mozilla guidelines
- [ ] Add consequences for not respecting guidelines
- [ ] Freshen page

**Other thoughts/ideas**:
- [ ] Link to the broader mozilla guidelines

[2016-03-24 23:01] edrushka opened #16 "Scope Submission Process page updates"
Link to current page: https://2015.mozillafestival.org/submission-process

**What needs updating by May:**
- [ ] Update link to 2016 repo
- [ ] LInk to submission form
- [ ] Update text slightly
- [ ] Freshen page

**Other thoughts/ideas**:
- [ ]

[2016-03-24 23:03] edrushka opened #17 "Scope Session page updates"
Link to current page: https://2015.mozillafestival.org/sessions

**What needs updating (by when):**
- [ ]  Space narrative - **May**
- [ ]  Pathway narrative- **October**

**Other thoughts/ideas**:
- [ ] Maybe we should label the link from the landing page Spaces & Sessions
- [ ] Add glossary to this page
 - [ ] How to navigate the scedule/festival- with link to orientation sessions

[2016-03-29 17:24] Saallen commented on #17
@edrushka agreed - title of page doesn't match the content fully

[2016-03-29 17:32] Saallen commented on #15
@edrushka I think we should say that there will be consequences but I am hestitant to call them out on the page as every incident is different.Closer to the time we will add a number for ppl to call, other ways to highlight and incident and yes- say that consquences will be actioned for those not respecting the guidelines.

[2016-04-01 13:53] Saallen opened #18 "New page proposal: Blog"
Last year we asked all the wranglers to blog about MozFest- and put them on Webmaker site-
It was not the best looking site and the layout meant that old posts were lost.

Is there a way to link this blog into the mozfest site as a page but allowing for a tagging system (such as space names) to allow people to sort through them?

[2016-04-04 23:01] edrushka opened #19 "Update MozFest site with 2016 info"
- [x] **Add 2016 dates on landing page**
October 28-30, 2016
Ravensbourne, London

- [x] **Update video on landing page with new vid**
New vid is here: https://vimeo.com/154774646
If we're embedding directly from their Vimeo, Dosed can change the title/description/tags etc. They can also customize the way it looks when it’s embedded (hide/show different parts of the player and change the colours).

[2016-04-04 23:03] edrushka commented on #4
The ASAP changes have been filed in #19 and Mavis is working on them now. They should be done within the next week or two :)

We'll address the other thoughts/ideas when we meet with Willse and Jordan, and can plan to make those changes for the June 1 update.

[2016-04-04 23:15] edrushka commented on #14
@Saallen for the current round of updates, I propose we:
- update your role to director (or whatever title you want) and move you to the top.
- next is gunner
- next is misty
- next is Spike
- next can be me. I'll write a bio.
- next is Mark W.

Let me know how you'd like to feature Michelle. We can remove her altogether for now, or add her as a 'special advisor'.

I'll update everyone's text to r

[2016-04-05 17:37] edrushka commented on #14
My suggested bio:

Erika Drushka is the Production Manager for MozFest 2016. With a background in documentary film making, advocacy and fundraising, Erika has spent the last three years on the MozFest communications team. This year, Erika has shifted her focus at Mozilla to building network strength in the open internet movement through convenings.

Maybe this picture? https://www.flickr.com/photo

[2016-04-05 22:06] mmmavis commented on #19
@edrushka do you know if we plan to archive the 2015 site? Right now https://mozillafestival.org/ goes to https://2015.mozillafestival.org/ . Should we change it so that it will go to https://2016.mozillafestival.org/ instead?

[2016-04-05 22:20] edrushka commented on #19
I believe that's what we've done for the last few years. Is there a reason _not_ to do this?

[2016-04-05 22:26] mmmavis commented on #19
Nope, wanted to double check before I file a DevOps ticket. :+1:

[2016-04-05 22:40] edrushka commented on #14
### April update:
- [ ] make a row with 4 columns instead of a vertical list
- [ ] order of row: Sarah, Erika, Spike, Gunner

#### Sarah text:

Sarah Allen
Festival Producer
Sarah Allen is this year’s festival producer. When she is not focused on MozFest, she helps with other Mozilla convenings in London and beyond. Sarah draws her experience from a diverse events background having worked with cre

[2016-04-05 22:41] edrushka commented on #19
@mmmavis the Festival Team page updates are ready in #14

[2016-04-05 22:56] mmmavis commented on #19
DevOps ticket created: https://github.com/MozillaFoundation/mofo-devops/issues/309

[2016-04-05 23:44] edrushka commented on #19
@Saallen can you please provide the link where we're sending people who want to sign up for more info?

[2016-04-05 23:58] mmmavis commented on #19
(@alicoding correct me if I'm wrong )

i dont think Basket has signup pages available for us to link to. It's more of the API that we post our data to. This means we probably need to create a form on the MozFest site to take user data.

[2016-04-05 23:59] alicoding commented on #19
You are correct (based on my knowledge)
On Apr 5, 2016 7:58 PM, "Mavis Ou" notifications@github.com wrote:

[2016-04-06 11:35] Saallen commented on #19
Hey @mmmavis @alicoding and @edrushka I have added you all as admin for the ti.to platform for mozfest 2016- you can have a look around and see the [sign up page](https://ti.to/Mozilla/mozfest-2016) and other intergration info

[2016-04-06 17:11] mmmavis commented on #19
Thanks @Saallen . I didn't know ti.to has this! :grin:

[2016-04-06 18:19] Saallen commented on #19
No worries @mmmavis have a play around the admin site

[2016-04-07 00:15] mmmavis commented on #19
@edrushka the "done in the open" link on https://2015.mozillafestival.org/guidelines links to the to-be-removed "Submission Process" page. What should we do with it? Just make it not hyperlinked?

[2016-04-07 14:14] Saallen commented on #19
@mmmavis @edrushka  what do you think  if we update the line here to link to last years [Github repo](https://github.com/mozilla/mozfest-program), we can just need to change the text slightly.
Then in June hopefully we will be able to link to  2016 repo :question:

[2016-04-07 16:35] edrushka commented on #19
That works for me. So we will:
- remove/hide "Submission Process" page as planned
- alter text on "Guidelines" page to read

Because working open is one of our core values, MozFest program planning is done in the open on Github (check out our 2015 repo [here](https://github.com/mozilla/mozfest-program)). We hope participants will benefit from this culture of transparency and collaboration during t

[2016-04-07 17:10] mmmavis commented on #19
most of the changes are up on https://mozillafestival-org-staging.herokuapp.com/ for review! I'm working on things @edrushka mentioned in her last comment - but they should appear on that Heroku app soon.

[2016-04-07 17:14] mmmavis commented on #19
https://mozillafestival-org-staging.herokuapp.com/guidelines updated!

[2016-04-07 18:26] edrushka commented on #19
wooo!

@Saallen if you're able to take a look at this before you head out, let us know if you see anything amiss.

[2016-04-08 10:47] Saallen commented on #19
Nice-  :tulip:

Should the workopen.org be a link too on the final paragraph??

[2016-04-08 10:50] Saallen commented on #14
Confirming Spike is happy with his bio.
I might ask that my bios first line is changed...."this years festival producer" reads now to me this is my first year as the producer....can we remove it?

[2016-04-08 18:37] edrushka commented on #14
Revised copy for Sarah:

Sarah Allen
Festival Producer
Sarah Allen is MozFest's producer. When she is not focused on MozFest, she helps with other Mozilla convenings in London and beyond. Sarah draws her experience from a diverse events background having worked with creative and inspiring companies, such as Movember Europe, Secret Cinema and CSM iLUKA. MozFest 2016 will be Sarah’s fourth festival.

[2016-04-08 18:49] mmmavis commented on #19
both https://mozillafestival-org-staging.herokuapp.com/team and https://mozillafestival-org-staging.herokuapp.com/guidelines are updated now (with Sarah's revised bio and hyperlink workopen.org) :smile:

Can I get a r+ on the staging site? :wink:

[2016-04-11 17:17] edrushka commented on #19
For https://mozillafestival-org-staging.herokuapp.com/team:
- capitalize the 'Internet' in last line of my bio (sorry! that's my bad copy editing :P )

For https://mozillafestival-org-staging.herokuapp.com/guidelines
- In the 'Raising Issues' section, change the first line to:

If you believe you‘re experiencing practices at MozFest which don‘t meet the above policies, or if you feel you are being

[2016-04-11 19:05] mmmavis commented on #19
staging site updated! :dancers:

[2016-04-11 19:34] edrushka commented on #19
R+ on both /guidelines and /team! :star2:

[2016-04-19 13:13] Saallen commented on #19
Hey @edrushka  and @mmmavis When do we go live with this swanky new website?

[2016-04-19 15:43] edrushka commented on #3
Correction!!  We'll use this repo:  https://github.com/MozillaFoundation/mozfest-program-2016

[2016-04-19 15:45] edrushka commented on #19
We're currently blocked on https://github.com/MozillaFoundation/mofo-devops/issues/316

[2016-04-19 16:05] Saallen commented on #19
Danke!
On 19 Apr 2016 5:45 p.m., "Erika Drushka" notifications@github.com wrote:

[2016-04-20 22:01] edrushka commented on #18
whoa! I didn't see this until now. Great idea! I'm working on scoping the June 1 site updates so I'll add this in.

[2016-04-21 15:20] edrushka commented on #1
Done!

[2016-04-21 15:20] #1 closed

[2016-04-21 15:20] edrushka commented on #2
Update:
- Release 1 is done
- Planning for Release 2 is underway

[2016-04-21 15:21] edrushka commented on #19
Done! Thanks @mmmavis :tulip: :rose: :sunflower:

[2016-04-21 15:21] #19 closed

[2016-04-22 20:07] edrushka commented on #4
The ASAP changes have been done! Now scoping changes for the June 1 update.

[2016-04-27 15:07] vazquez commented on #18
As discussed, I'm flagging this task as requiring a moderate amount of time to complete. This seems to be the only large task in the website scoping. All other tasks are small-scope and doable 👍

[2016-04-27 17:59] edrushka commented on #4
@Saallen - @vazquez has mocked up some new colour treatments and photos for the landing page: https://www.dropbox.com/sh/kmvm69tdgarwqm1/AADjDpNcMCjBumX7WPKmO215a?dl=0

I like 1 and 2. What are your thoughts?

[2016-04-27 18:05] Saallen commented on #4
Ooh, loving the slight nod to Prince in the colour scheme @vazquez @edrushka
I love the 2nd photo as ppl are smiling and there is a good mix of male to female. Amira obvs looks great but stage is such a small part of the 3 days that we shouldnt be calling it out on the main page. I love the idea of showing the science fair but with cool stuff on the tables- some of these tables look empty.

[2016-04-27 18:37] vazquez commented on #4
My favourite photo is Number 2. Can we go for that one? 😃

[2016-04-27 18:42] Saallen commented on #4
:+1:

[2016-04-27 19:39] edrushka commented on #18
And as we agreed in https://github.com/MozillaFoundation/plan/issues/805 - we will implement this page when the CMS is ready (not for the June 1st website update).

[2016-04-29 17:34] vazquez commented on #5
Tito page has been spiffied up –
GH Issue: https://github.com/mozilla/mozillafestival.org/issues/364
Tito Page: https://ti.to/Mozilla/mozfest-2016

[2016-04-29 18:28] edrushka commented on #5
Very nice!!

@sallen, flagging we need to write any addition copy we want on this page. Also, will we have only 2 categories of tickets again this year?

[2016-05-11 13:24] ScottDowne opened #20 "about page is still talking about things like it's 2015"
See here: https://mozillafestival.org/about

You can get here from a link on https://mozillafestival.org/ by going to about.

At a glance, it mentions two out of date things.

1. It references 2015 as the present, and talks about 2015 mezfest in the future tense.
2. The circle matrics under the hero unit are probably out of date.

@edrushka Who else should I ping on this?

[2016-05-11 13:25] ScottDowne commented on #20
One more small out of date thing, the https://mozillafestival.org/guidelines link mentions the current repo as the 2015 repo.

[2016-05-11 13:26] ScottDowne commented on #20
It's possible things are still being updated, and these issues are known.

[2016-05-12 15:59] edrushka commented on #13
see @ScottDowne's comments in #20

[2016-05-12 15:59] edrushka commented on #20
Thanks @ScottDowne - this is the best-named ticket I've seen in a while!
I've noted this is the specific ticket for the about page #13

[2016-05-12 17:03] Saallen commented on #13
Ala Freshing up the page @edrushka 💣

[2016-05-13 13:27] Saallen opened #21 "What to expect is still talking about things like it's 2015"
Thanks @ScottDowne for this great heading

The "weekend outline" on "[What to expect](https://www.mozillafestival.org/expect)" page references 2015 dates for timings 📆

[2016-05-13 15:43] edrushka commented on #7
Need to tweak the copy as per https://github.com/MozillaFoundation/Mozfest2016_production/issues/5
- explain the format- what you will see when you walk in the door. Explain talks and interactive sessions.
- explain that you can submit sessions to be part of the schedule
- explain spaces and why are they important

[2016-05-17 16:59] Saallen opened #22 "Moz ex banner"
Adding Moz Ex banner that Luca made for his experience at MozFest.
Luca wanted me to share this with @xmatthewx as possible use as an image for the website - although might work without the text on there as quiet experience specific
The pictures are of the zines from the mozertreat.

![mozexhibit_banner_forcalls_v01-1](https://cloud.githubusercontent.com/assets/10194015/15331420/0959a66c-1c59-11e6

[2016-05-17 18:33] edrushka commented on #4
@Saallen @KevZawacki @omnignorant
Here's a first pass at copy updates for the MozFest site landing page. Does this feel #mimi?

1) For the main text over the image:

MozFest
October 28-30, 2016
Ravensbourne, London
The world’s leading event for and by the open Internet movement.
Join us to build, debate, and explore the future of our lives online.

2) For the CTA banner:

Submit a session for MozF

[2016-05-17 18:55] edrushka commented on #5
@Saallen what are the categories of tickets we'll have this year?

[2016-05-17 19:04] edrushka commented on #6
@Saallen suggested copy change for this page:

MozFest Venue
Mozfest 2016 will be held once again in Ravensbourne, a media campus in the heart of London. Located right next to the O2 arena and North Greenwich tube station, Ravensbourne's nine floors of open work spaces, breakout rooms and cozy corners are ideal for collaboration and creative working.

[2016-05-17 19:06] edrushka commented on #7
@KevZawacki how are we doing on getting Mark's signoff for the speech bubble? We're going to need final copy on that no later than EOD May 24.

[2016-05-17 19:22] KevZawacki commented on #7
@edrushka Still awaiting feedback -- I'll nudge Mark and let him know we're on deadline.

[2016-05-17 22:32] edrushka commented on #7
@Saallen and @KevZawacki I've drafted new text for Participating At MozFest and also proposed a new section called What Is MozFest Like? to address Sarah's comments above. Please review here: https://public.etherpad-mozilla.org/p/whattoexpect-copy-2016

[2016-05-17 22:39] edrushka commented on #13
@vazquez we'll need a graphic or image for 2015 (I'll update the copy).

[2016-05-18 11:59] KevZawacki commented on #7
@edrushka Excellent! Just added my revisions -- only a couple prepositions and semicolons.

[2016-05-18 12:25] KevZawacki commented on #4
@edrushka 👍 I really like having this language on the homepage.

Maybe we add "technology" as a field?

[2016-05-18 13:02] Saallen opened #23 "2016 Space Narratives"
Here is the full list of Space and experience narratives for MozFest 2016 -
Each space has its own issue with the narrative for @KevZawacki to triage for a one voice perspective. Where applicable I added the Space Wranglers to the issue too. Once all narratives have been uploaded and received some Kevin love they are ready for @mmmavis @edrushka magic

- [ ]  Moz Ex  (Art Exhibit) - #24
- [ ]  A t

[2016-05-18 13:05] Saallen opened #24 "Space narrative- Moz Ex"
Here is the Narrative for Moz Ex experience

Moz Ex aims to bring together digital artworks that reflect a varied and exciting cross-disciplinary practice around the web. At Mozfest 2016 we will be looking at Web-Literacy, Digital Inclusion and Accessibility, Privacy, Policy and Hacking. For this call, we are particularly focussing on the value of art to society and what role the digital plays in

[2016-05-18 13:11] Saallen opened #25 "space narrative- Arts and Culture"
Below is the outline for Arts and culture narrative

Arts and Culture
What is digital art?  Through a variety of workshops, demos and discussions we’ll be exploring the relationship between art, technology and the web.  With opportunities for all to make, be inspired and ask questions, in the arts and culture space you’ll figure out what digital art means to you.
Whether it’s using technology to c

[2016-05-18 13:57] vazquez commented on #4
In case you want a visual:

![screen shot 2016-05-18 at 9 56 45 am](https://cloud.githubusercontent.com/assets/1119821/15361297/de2d7582-1cde-11e6-885d-8b1b6e14aeb9.png)

[2016-05-18 15:50] edrushka opened #26 "Set up a Medium publication for 2016"
Hey @KevZawacki and @Saallen -  in yesterday's stand, the website team felt it makes more sense to go with Medium instead of Wordpress for our blogging platform while we wait for Calypso to be finished.

Do we need to set up a new publication for 2016 or does it make more sense to continue with the one we started last year?

We'll link to this from the website (I know, not ideal to link viewers aw

[2016-05-18 18:45] KevZawacki commented on #26
To get us going, some suggestions for the MozFest 2016 Medium publication:

URL: medium.com/mozfest-2016

Logo: same as last year (see below)

![1-gwjsm0m8cj8yklunvwxbrw](https://cloud.githubusercontent.com/assets/11045250/15370070/417ab234-1d03-11e6-9fc1-f71203e28997.jpg)

Publication title: MozFest 2016

Publication tagline:  The world’s leading event for and by the open Internet movement

About

[2016-05-18 18:57] edrushka commented on #26
Looks good Kevin. I tweaked it slightly to cram in a couple more details.

MozFest is an annual, hands-on festival for and by the open Internet movement. Every year, bright minds from around the world build, debate, and explore the future of our lives online. We tinker with open software, hardware, and practices in the realms of art, journalism, science, technology, and education. In 2016, we'll c

[2016-05-18 18:59] edrushka opened #27 "Clarify MozFest vs. Mozilla Festival"
Are we moving towards a more consistent use of MozFest this year (and slowly sunsetting Mozilla Festival)? It would be good to have clarity for webpage and comms copy.

cc @Saallen @KevZawacki

[2016-05-18 19:15] ScottDowne commented on #16
Some more info is in here: https://github.com/MozillaFoundation/plan/issues/805

It's a lot of info though.

Some things we have talked about including in this work:
- [ ] transactional email for submissions with info on how to engage further. @edrushka who would be the one to create this email copy?
- [ ] l10n for the submission form as an option. It would still default everyone to en-US even if

[2016-05-18 19:22] edrushka opened #28 "Write confirmation email for session proposal"
Need a brief email that
- confirms the session has been submitted
- provides info on what happens next
- provides github ticket #

cc
@ScottDowne @Saallen

[2016-05-18 19:23] edrushka commented on #16
@ScottDowne I can write, or at least wrangle, the copy for the confirmation email. Made a ticket here #28

[2016-05-18 19:47] vazquez commented on #26
MozFest 2016 logo available here:

[https://drive.google.com/open?id=0ByIoeeW0a3R_VlY2MEpOWThWS1k](https://drive.google.com/open?id=0ByIoeeW0a3R_VlY2MEpOWThWS1k)

<img width="188" alt="screen shot 2016-05-18 at 3 46 48 pm" src="https://cloud.githubusercontent.com/assets/1119821/15372711/c35f8df4-1d0f-11e6-9124-f4bc01958ca8.png">

[2016-05-18 21:08] edrushka commented on #28
DRAFT VERSION 1

Hi <first name>,

Thank you for submitting a session proposal to MozFest!

Our session curation process takes place on Github in the [MozFest 2016 Program repo](https://github.com/MozillaFoundation/mozfest-program-2016). Curation will begin in August when the Call for Proposals closes.

Your session is documented in this issue: <Github ticket # and title>

If you're new to Github,

[2016-05-18 21:59] edrushka commented on #9
@vazquez  To Do for June 1 Update:

1) Change the 'Hello there' text to:

Hello there
[Sign up here](https://ti.to/Mozilla/mozfest-2016) to receive festival news and updates by email.

2) Change the 'Social media' text to:
Use the hashtag #mozfest on Twitter and join the conversation. Read the [MozFest blog](medium.com/mozfest-2016) on Medium.

^ note that the blog isn't live yet but will be befor

[2016-05-18 22:02] edrushka commented on #10
@KevZawacki any suggestions for a tweet to pre-fill? It should remain relevant until the next major site update before the festival (early October).

[2016-05-18 22:10] edrushka commented on #11
@SpikeUK we're refreshing the MozFest website with updated info for June 1 when the Call for Proposals opens. Can you take a look at https://2015.mozillafestival.org/volunteer and let me know if you need any changes to that copy. The last paragraph about the MozPubs will definitely need to be edited -  we can remove it altogether for now, if you like.

Also, do you or @Saallen  have a link to the

[2016-05-18 22:13] edrushka commented on #18
@vazquez For June 1 Update, we'll add a Blog link to the bottom nav. It should point to medium.com/mozfest-2016 as discussed in #26.

Can it open in a new tab so we don't take people 100% away from the site, or is that bad practice?

[2016-05-18 22:15] edrushka commented on #12
@Saallen do we still want to start accepting Fringe events in June? If so, can you link me last year's submission form?

[2016-05-19 10:24] KevZawacki commented on #27
Agreed that we should be consistent and use just one! As for which one...

[2016-05-19 10:32] KevZawacki commented on #10
@edrushka Is there a certain action we want to drive -- ticket sales? Sharing the website? This could be a good opportunity.

[2016-05-19 12:16] Saallen commented on #28
This draft email looks great @edrushka
Other info we could add knowing what answers people look for
-[ ]  Early Sept we will let people know whether their session has been accepted or not
-[ ] let your friends know that you submitted a session for this years mozfest [insert twitter link to  " I just submitted a session to #MozFest, the world’s leading event for and by the open Internet movement. J

[2016-05-19 12:27] Saallen commented on #26
@KevZawacki @edrushka
I am really liking this paragraphy but what are your thoughts on adding an extra line on the blogs on thei page.
Would it be worth providng clarity that these blogs are written about and for the program at this years festival?

[2016-05-19 13:03] Saallen commented on #24
The full brief including the actually Call itself is
Moz Ex
Arts, Culture & Technology

Call for Artists, Designers, Creative Technologists, Makers, Coders, Scientists, Visual Journalists… from techies to newbies! We are inviting submissions of original artwork that relates to the theme of MozFest 2016.
Your submission could be mix-media, photography, video, game, animation or moving image to visu

[2016-05-19 13:12] Saallen commented on #4
👍

[2016-05-19 13:15] Saallen commented on #5
Hi @vazquez
Did you see last years ticket page? https://2015.mozillafestival.org/tickets
@edrushka On the website we will only have two types of tickets- Adult and Youth, I will work on the copy now for the website page

[2016-05-19 13:47] Saallen commented on #7
Hi- I made a few small changes to the first what is MozFest-
I just tweeked some lines so that what we are saying in this document is what we will deliver over the weekend.
Loved the particpating at MozFest paragraph- really great work @edrushka

[2016-05-19 13:48] Saallen commented on #6
👍

[2016-05-19 13:50] Saallen commented on #10
Could the narrative but about "join us at the festival" so that it relates to tickets, submission etc....maybe the link is always back to the main page of the website

[2016-05-19 14:00] Saallen commented on #12
hI
@mmmavis made this form https://docs.google.com/a/mozillafoundation.org/forms/d/1XCjIF3ptc4XAl7ql-pkhhIDc7dERYshrLHOFZgjdIUY/viewform
I can update it quickly if needed

[2016-05-19 14:55] Saallen opened #29 "Call for Proposals 2016- google form actions within"
The call for Proposals form for 2016
https://docs.google.com/a/mozillafoundation.org/forms/d/19eD51TFUfklPS57XccwP_YPkDZ4DVl_aB4olaJmvgNU/edit
This form has an introduction and three sections but submitters are only required to fill out 2 sections.
There are three links to be added

**Particulars**
*Introduction section
Some links required are required for this section which will link to an entire

[2016-05-19 14:56] vazquez commented on #4
Perfect, I will push this change ~~when the Proposal page is finished.~~ now since we are only updating the staging site.

[2016-05-19 14:59] KevZawacki commented on #10
Sounds good. How about:

I'm attending #mozfest, the biggest event for & by the open Internet movement. Join me & @Mozilla in London: mzl.la/mozfest

[2016-05-19 15:17] KevZawacki commented on #26
@Saallen Good call. We can add this sentence to the end of @edrushka's updated copy:

"In this publication, we invite everyone -- from event facilitators and attendees to remote participants -- to share their thoughts and start conversations."

[2016-05-19 15:19] KevZawacki commented on #24
@Saallen Thanks! I'll just be editing the Space narrative aka brief, correct?

[2016-05-19 15:48] ScottDowne commented on #16
@Saallen or @edrushka I know we talked about the form fields and what we'll need for this year, with the multiple sections/logic.

However, is that written somewhere? Is this essentially what we have so far? https://public.etherpad-mozilla.org/p/festival-sessioncuration

[2016-05-19 15:49] ScottDowne commented on #16
Ah, I remember! it's here: https://docs.google.com/a/mozillafoundation.org/forms/d/19eD51TFUfklPS57XccwP_YPkDZ4DVl_aB4olaJmvgNU/edit

[2016-05-19 15:53] edrushka commented on #7
Note we should add video in here, since it's not super obvious on the landing page

[2016-05-19 16:21] Saallen commented on #16
Hey @ScottDowne I started to map out the steps here
#29

[2016-05-19 17:23] edrushka commented on #27
My understanding from the exec level was that we should move towards MozFest, hence acquiring the mozfest.org URL earlier this year.

[2016-05-19 17:27] edrushka commented on #28
I'll add in the September info  but a Twitter link makes 3 separate links, which is excessive for a short email. Let's add that to the confirmation screen you get after you press Submit on the form.

[2016-05-19 17:33] edrushka commented on #28
VERSION 2

Hi < first name >,

Thank you for submitting a session proposal to MozFest!

Our session curation process takes place on Github in the [MozFest 2016 Program repo](https://github.com/MozillaFoundation/mozfest-program-2016). Curation will begin in August when the Call for Proposals closes. In September, you'll be notified whether your session has been accepted or not.

Your session is doc

[2016-05-19 17:34] edrushka commented on #28
cc @ScottDowne and @cadecairos ^ ready for you to test this text

[2016-05-19 18:16] edrushka commented on #7
Thanks @Saallen - I took another pass to integrate your ideas while keeping the wordcount as low as possible. Please take a final review: https://public.etherpad-mozilla.org/p/whattoexpect-copy-2016

@vazquez do you think we should embed the video directly rather than linking via text? (see how I've done it in the etherpad above)

[2016-05-19 18:22] vazquez commented on #18
Totally.

[2016-05-19 18:26] #18 closed

[2016-05-19 18:37] #9 closed

[2016-05-19 18:39] vazquez commented on #7
I think embedding the video would be a nice touch. I really don't foresee any technical complications.

[2016-05-19 18:46] edrushka commented on #6
@vazquez only copy change on this page is

MozFest Venue
Mozfest 2016 will be held once again in Ravensbourne, a media campus in the heart of London. Located right next to the O2 arena and North Greenwich tube station, Ravensbourne's nine floors of open work spaces, breakout rooms and cozy corners are ideal for collaboration and creative working.

However, could you look into fixing the map, so wh

[2016-05-19 18:48] edrushka commented on #7
I guess my only concern is with the amount of copy, plus potentially the video, this page might get super long.

[2016-05-19 18:52] edrushka commented on #12
Simple form, but the actual Fringe Page looks quite good: https://2015.mozillafestival.org/fringe

@vazquez as someone who actually submitted a Fringe event, do you have any suggestions? I'm fine to simply update this for 2016 if it works as-is.

[2016-05-19 18:54] vazquez commented on #6
That's a perpetual problem with embedding maps :( I will change the copy for now and talk to scott about preventing interaction with the map.

[2016-05-19 19:05] KevZawacki commented on #27
👍 All instances of "Mozilla Festival" in the comms plan have been smote!

[2016-05-19 19:16] #6 closed

[2016-05-19 19:16] vazquez commented on #6
Creating new issue for the map.

[2016-05-19 19:17] vazquez opened #30 "Map on Location page"
Is there a way for us to look into fixing the map, so when you land on the page and try to scroll down, it actually scrolls down and doesn't resize the map?

@ScottDowne

[2016-05-19 19:19] vazquez commented on #12
I agree with you @edrushka. I don't think there is anything needed to change. The process was super simple to add a fringe event!

[2016-05-19 21:37] edrushka commented on #10
Nice! Works for me. @Saallen?

[2016-05-19 21:39] edrushka commented on #26
👍 Do we have anything to pre-populate the publication with, so it's not just blank?

[2016-05-19 21:42] edrushka commented on #12
Cool - let's leave it as-is. @Saallen can you please update the form so it says 2016?

[2016-05-20 09:23] Saallen commented on #27
Bey, before we press go on this we must run this by the three stakeholders. We talked about this last year but Mark said he would be down to Gunner, Michelle and himself. Mark is pro MozFest change over. I have emailed them and am waiting on a reply

[2016-05-20 09:25] Saallen commented on #27
I did not intent to call you pair my "beys" ala beyonce- should of had said Hey ...beys

[2016-05-20 11:27] KevZawacki commented on #26
@edrushka Not that I can think of, yet. Maybe Mark publishes his speech bubble in blog form?

In any case, as long as we don't promote the blank publication, it's unlikely anyone will stumble across it.

[2016-05-20 13:49] KevZawacki commented on #26
Ta-da: [Our Medium publication](https://medium.com/mozfest-2016).

[2016-05-20 14:57] edrushka commented on #26
Wooo! Thanks Kevin 💃

We'll be linking to the blog from the footer of the MozFest site when the Call for Proposals opens on June 1, so it'd be good to get at least 1 thing up there. @omnignorant do you have an ETA for the blog you were planning on writing?

[2016-05-20 16:01] Saallen commented on #26
Puurty.

[2016-05-20 18:39] edrushka commented on #7
@vazquez let's go ahead and implement the new copy and the embedded video

**What is MozFest like?**

MozFest is a diverse, highly interactive event with something for everyone. The festival kicks off Friday evening with a science fair, where attendees can stroll around and check out presentations on inspiring ideas and projects, many of which were developed at previous MozFests. Saturday and Sund

[2016-05-20 18:43] edrushka opened #31 "Update shortlink"
Please make mzl.la/mozfest point to mozfest.org (it currently points to the 2015 site). Thanks! :bowtie:

[2016-05-20 18:44] edrushka commented on #10
@vazquez here's the tweet to auto-populate. Note that I filed a separate ticket #31 to update the shortlink (it currently points to the 2015 site).

I'm attending #mozfest, the biggest event for & by the open Internet movement. Join me & @Mozilla in London: mzl.la/mozfest

[2016-05-20 18:46] vazquez commented on #7
@edrushka –
- Are we keeping Mark's speech?
- Are we keeping "Participating at Mozfest"?
- Are we keeping "Weekend Outline"?

[2016-05-20 18:48] edrushka commented on #8
Closing this for now as we're not updating until Sept.

[2016-05-20 18:48] #8 closed

[2016-05-20 18:59] edrushka commented on #7
Oops. I realize I shouldn't have put the Ready for Ricardo label on quite yet!
- yes we're keeping/updating Mark's speech. Waiting for his final signoff now.
- yes we're keeping "Participating at Mozfest". Updated copy is in the comment above.
- @Saallen do you want to hide "Weekend Outline" until we have a better idea of what the mainstage will look like?

[2016-05-20 19:21] vazquez commented on #7
This is a screenshot of how the page would look like. There does seem to be quite a bit of text. Perhaps cutting down "What is MozFest like" could help, since we have the video.

![screen shot 2016-05-20 at 15 19 39](https://cloud.githubusercontent.com/assets/1119821/15439342/7ed54170-1e9e-11e6-8743-661b04a68745.png)

[2016-05-20 19:26] KevZawacki commented on #31
We'll need to resource this one -- I'm thinking three heartbeats and a team of 4-5 devs.

No, wait: http://mzl.la/mozfest

[2016-05-20 19:26] #31 closed

[2016-05-20 19:28] edrushka commented on #7
yah, that is certainly a wall of text. I propose we eliminate the first paragraph of the "Participating at MozFest" section. I can work those ideas into the "About" page.

[2016-05-20 20:14] #10 closed

[2016-05-20 21:26] edrushka opened #32 "Moz Ex copyright section needs more thought"
Hey @Saallen. We looked that the MozEx copyright question on the form during our stand today and noticed a few issues:
1) Can the response be a single 'I agree' checkbox instead of Yes/No buttons?
2) If people don't agree, what happens? Can they still submit, or should they get an error message saying you must agree to these terms?
3) Can we move this to the last question on that part of the form?

[2016-05-20 21:31] edrushka commented on #7
@Saallen @KevZawacki what are your thoughts on moving Mark's speech bubble to the 'About' page? Currently it lives on "what to expect", but as you can see on Ricardo's mockup above, that page is getting far too text-heavy.

[2016-05-20 21:37] edrushka commented on #13
@Saallen please review proposed text

**Paragraph at top of page:**
The seventh-annual MozFest will be held in London, from Friday, Oct. 28 - Sunday, Oct. 29. MozFest is an annual celebration of the open Internet movement. It's where passionate technologists, educators, and makers come together to explore the future of the open Web.

**2015 and 2016 entries on the timeline:**

2015
In 2015, we foc

[2016-05-20 21:38] edrushka commented on #13
@Saallen also, do you have updated numbers for the little circles? Need:
- number of attendees
- number of countries participants came from
- number of sessions

[2016-05-20 21:40] edrushka commented on #14
@Saallen do we want to add more bios for June 1, or update this in Aug when the call for proposals closes?

[2016-05-20 22:28] edrushka commented on #15
Here are the best practices for a _complete_ Code of Conduct/Participation Guidelines ([source](http://www.ashedryden.com/blog/codes-of-conduct-101-faq#coc101examples)):
- statement of unacceptable behavior
- how the policy will be enforced
- how and whom to make an incident report to
- training and reference materials for organizers, staff, and volunteers on how to respond to incident reports
  M

[2016-05-20 22:42] edrushka commented on #27
@Saallen this is something we can address if we get the stakeholders meeting in London. Also, noting that if we decide to use MozFest exclusively, we'll need to tweak the logo/wordmark. This is not in scope for June 1, so we have some time to decide, and transition over the coming months, if that's the decision.

[2016-05-20 22:50] edrushka commented on #16
@Saallen Proposed copy refresh for the Submission page:

We use GitHub to manage, review and curate sessions for MozFest. GitHub allows us to openly collaborate, and it provides a record for how the festival program came together.

When the Call for Proposals closes on August 1, Space Wranglers will review all proposals and choosing sessions that best align with their Space objectives. You can fol

[2016-05-20 22:55] edrushka commented on #17
@vazquez would it be bad UX to change the name of Sessions to 'Spaces & Sessions' in the footer? You can see it here in the footer of the 2015 page: http://2015.mozillafestival.org/

[2016-05-20 22:57] edrushka commented on #17
@Saallen for the June 1 update I propose we delete the entire Spaces and Pathways paragraph (we can add it back in Sept.) and change the heading across the photo to 'Spaces' (right now it reads Sessions).

[2016-05-20 23:02] edrushka commented on #17
Also, do we intend to include icons? New spaces will need icons, which I don't know if we can swing by June 1. I suggest we remove them for now and add them later in the fall, which will give the design team a chance to rethink them in general.

[2016-05-23 11:56] KevZawacki commented on #7
@edrushka I like that idea -- "What to expect" does seem a bit crowded at the moment.

[2016-05-23 12:42] Saallen commented on #7
@edrushka I think that makes sense. Really like having the video on this page now too 🌷

[2016-05-23 12:52] Saallen commented on #17
@edrushka in agreement with the name change.
All spaces will need icons but with this small timeline before the opening of the call we can remove icons until September . The icons are good wayfinding tools so we should have the back up on the website in order to assist that.

[2016-05-23 12:55] Saallen commented on #16
@edrushka this is great new copy but we might leave the info about a free ticket off to assist with ticket sales and in case anything changes.

[2016-05-23 12:58] Saallen commented on #27
Hi- yes, this move from Mozilla festival to mozfest has been brought up in conversation before but there are 3 key stakeholders who have to agree before any major changes can be made. I am happy for all comms to reflect the name "mozfest " but v reluctant as of yet to discuss logo changes or removing Mozilla from the title just yet. Yes we can chat about this at Stakeholders meeting but logo/water

[2016-05-23 16:14] Saallen commented on #24
@KevZawacki yes, just the brief but I wanted to give you more context around the brief so I added more text from Luca. Can you hold editting as Luca has someone else he wants to show this brief too

[2016-05-23 16:15] Saallen commented on #32
@edrushka  The T&Cs are very important as we are dealing with artists completed pieces of work so the info outlined is all important. I spoke with Luca and we abrivated some of the text but luca is not comfortable with making more edits.
Maybe to help break the text as you suggested we can make them a pop up window and ppl then click that yes- they agree.
If ppl dont agree to them we cannot show t

[2016-05-23 16:28] Saallen commented on #15
I agree with all but would like to chat more about the 2nd point
pre festival weekend we will have a variety ways of contacting me including a phone number that have two default connections if I am unconntactable so that will be updated closer to the event.
I dont agree with the use of the word santioned here but do think you are right we should have something here.
I might advice we state somethi

[2016-05-23 16:31] Saallen commented on #14
We can update in August 👍

[2016-05-23 16:54] Saallen commented on #13
👍 on update copy
I dont have reliable numbers for 2015 as we had issues with rego- but  I **think** we had 1600 in the building
- 325 sessions
- I dont have the full number of countries
- is there other data I could provide here to freshen up the page?

[2016-05-23 17:54] KevZawacki commented on #24
@Saallen Will do!

[2016-05-23 21:45] xmatthewx commented on #29
@Saallen – I haven't discussed the form with Luca. We are meeting this week with Jordan to talk about festival design and our time in London. If you have specific questions, I can try to include those.

[2016-05-24 14:03] vazquez commented on #7
The what to expect page looks better without Mark's speech:
![screen shot 2016-05-24 at 10 01 50](https://cloud.githubusercontent.com/assets/1119821/15506745/c19e1360-2196-11e6-8780-e273744f1edd.png)

and the About page now has Mark's speech:

![screen shot 2016-05-24 at 10 02 16](https://cloud.githubusercontent.com/assets/1119821/15506747/c60ee01e-2196-11e6-9386-be3896cea8e0.png)

[2016-05-24 17:04] edrushka opened #33 "Feedback on Call for Proposals form"
Hey @chrislarry33 please leave your feedback on the call for proposals form here!
cc @Saallen

[2016-05-24 18:03] edrushka commented on #32
Great! The modified, shorter text in your comment is better. I'm not 100% sure we can hyperlink text in the Google form, though.

What do you think about questions 1-3 in my first comment?

[2016-05-24 18:07] edrushka commented on #15
I like your edit but want to make sure it covers people that are behaving poorly at the actual event (i.e. once they've already been admitted).

How about:
MozFest organisers reserve the right to refuse admission to anyone violating these guidelines, and/or take further action including expulsion from the event.

[2016-05-24 18:10] edrushka commented on #14
WFM. Closing this for now.

[2016-05-24 18:10] #14 closed

[2016-05-24 18:16] edrushka commented on #7
Wooo! Yah! That looks great @vazquez

[2016-05-24 18:18] edrushka commented on #13
I'll leave countries as 50+. I think this is the most relevant data to communicate. In 2017 we'll be able to add in a number for salons/talks.

This page will look "freshened" (teehee) because we're adding Mark's speech bubble at the top, as decided in #7

[2016-05-24 18:23] edrushka commented on #13
@vazquez this page isn't 100% ready because we're still waiting for Mark's speech bubble but the other sections are set if you want to get started on them.

**Mark's Speech Bubble**
_still to come_

**Updated  number bubbles:**
1600+
Over 1.6K attendees

50+
Participants from more than 50 countries

325
Workshops & sessions

**Paragraph under number bubbles:**
The seventh-annual MozFest will be he

[2016-05-24 18:36] edrushka commented on #7
@Saallen still waiting on your thoughts about the Weekend Outline. Do you want to simply update the dates and leave as-is, or should we remove the section altogether until the fall? I'm inclined to leave it (even though we might not do evening lightening talks) to give people a sense of the weekend, and how much time they should take off work on Friday (since we got feedback about people thinking

[2016-05-24 18:43] vazquez commented on #13
@edrushka Changes made! Is there anything else for this page? We could close this issue and open another one just for mark's speech bubble if it's a blocker.

[2016-05-24 18:50] edrushka opened #34 "Mark's speech bubble"
Opening a separate ticket as this is the last thing needed to finish the About page #13

cc @KevZawacki @vazquez

[2016-05-24 18:51] edrushka commented on #13
Sounds good. I made a new ticket for the speech bubble #34. Can I see the new 2016 icon/image before we close this?

[2016-05-24 18:56] vazquez commented on #13
@edrushka

Oh sure! I'm using this:

![screen shot 2016-05-24 at 2 55 41 pm](https://cloud.githubusercontent.com/assets/1119821/15516173/a02bda22-21bf-11e6-9dcb-ca62c62c02b1.png)

[2016-05-24 19:03] edrushka commented on #27
Sounds good. We can favour 'MozFest' for the website and comms materials this year, saving the final decision for the stakeholders meeting with implementation -- if a decision is made -- to happen in 2017.

[2016-05-24 19:03] #27 closed

[2016-05-24 19:13] edrushka commented on #13
Cute!

[2016-05-24 19:28] KevZawacki commented on #34
Mark emailed today about the speech bubble, and noted he'll aim to have feedback our way sometime tomorrow.

[2016-05-25 08:56] Saallen commented on #7
@erika yes it does provide a good sense of when to arrive- it does look kinda lost now though at the bottom- would it be more helpful to go under the "what MozFest is like" as you read about the festival and what happends, then next is timings for further clarification? We can leave lightening talks for the time being and edit later in the year when we know whats actually happening

[2016-05-25 09:00] Saallen commented on #13
Hi @edrushka @vazquez  just adding a little note that the logo you used is on the flag is the logo for "Open Web of things" from 2013 and 2014 http://2014.mozillafestival.org/tracks/index.html
which doesnt match the content of the paragraph

[2016-05-25 11:18] Saallen commented on #15
🆒

[2016-05-25 11:21] Saallen commented on #32
Sorry, thought I answered them
1- Yes I agree :)
2- if ppl don't agree we cannot show their work unfortunately as the Tate will hold a pre festival event, VnA  Museum will promote the art works, and we will have a photographer on site. We want to use their art work as an educational tool too so will reference all the work at the event.

[2016-05-25 11:22] Saallen commented on #32
3- I think I asked the question if this could be a pop up window but if not happy for it to be the last question in this section

[2016-05-25 11:31] Saallen opened #35 "Friends and Allies page"
We will need later in the year to have a page on the website where we can celebrate our Space Wranglers.
Last year on the Space page there was hyperlinks and twitter handles added to the space narratives so ppl could learn who our wranglers are for. It would be good to show photos if the team were agreeable- with links to their home companies as a promotional as well as celebratory piece

@edrushk

[2016-05-25 11:36] Saallen opened #36 "Space narrative: The “Artistry” in learning: youthZone’s Sandbox"
In today’s civic society we finds ourselves at the heart of a prescriptive learning system, there to achieve specific objectives, from adverts that follow us telling us what to buy to exams where “Independent thinking” within the system has become a distraction ...

In the #youthZone this year we are working with lots of Teens, Librarians and adults too, to create a space as your independent think

[2016-05-25 13:28] mattdigitalme opened #37 "Space Narrative Open Badges"
Over the past four years, Digitalme has worked closely with Mozilla to advocate for the Open Badge standard, to implement badge projects in the UK and Europe, and, more recently, take on direct leadership of Open Badges, on behalf of Mozilla.

Since Mozfest 2014, Over 250 amazing badge projects have been shared via the [Badge the World map](http://www.badgetheworld.org/). As part of this next phas

[2016-05-25 13:53] vazquez commented on #13
Okay, I have changed it to a globe

![screen shot 2016-05-25 at 9 53 23 am](https://cloud.githubusercontent.com/assets/1119821/15542389/8eb7f704-225e-11e6-8a43-135868b857fa.png)

[2016-05-25 15:33] Saallen commented on #13
Thanks @vazquez 🌎

[2016-05-25 15:57] Saallen opened #38 "Space narrative- Localisation"
Copy shared as
*
The physical space ... To reflect the diversity of the world, a stage set like a market place with creative interesting textiles colours, flavours and smells.
*Be inspired, find out how people are adapting to the digital world and participating in building the Web in their own way reflecting their own unique culture and identity.
*Learn, building a community opening up your work t

[2016-05-25 16:02] Saallen opened #39 "Space Narrative- Journalism"
Space narrative ready for @KevZawacki magic.
Looping in @erikao and @ryanpitts in case you have some questions

Journalism doesn't just tell the story of the internet, it's part of it. Software like Django, D3, and Backbone has emerged from newsrooms to power some of the most innovative work on the open web. Reporting entertains and challenges millions of readers every day, giving them the informa

[2016-05-25 16:05] Saallen commented on #39
@erikao confirming this is the Space title- Journalism

[2016-05-25 17:05] Saallen commented on #24
Updated copy
Moz Ex aims to bring together digital artworks that reflect a varied and exciting cross-disciplinary practice around the web. At Mozfest 2016 we will be looking at Web-Literacy, Digital Inclusion and Accessibility, Privacy, Policy and Hacking. For this call, we are particularly focussing on the value of art to society and what role the digital plays in this. We are also very keen to s

[2016-05-25 17:41] Saallen opened #40 "Space narrative- Fuel the Movement"
Space- Fuel the Movement
@KevZawacki @Melechuga @edrushka for input and copy editting if needed

Narrative:

Come fuel the open Internet movement! This year we’re focusing on Copyright. Mozilla believes intellectual property rights should foster innovation, creation and competition. We are looking for sessions to help participants understand how changes in copyright law could impact them.

Help ra

[2016-05-25 17:59] Saallen opened #41 "Space narrative - Open Science"
Narrative for  Open Science Space
cc in @KevZawacki for some kevin magic
and @edrushka and @arlissc for any further clarity

Narrative

Science and the Web both help us understand the world around us. In the Open Science space, participants learn, remix, explore and hack at the intersection of science and the Internet, and learn how the Web can (/and is) transforming science.

We cover topics like

[2016-05-25 18:00] Saallen commented on #41
@arlissc can you confirm the title for your Space?

[2016-05-25 18:05] Saallen commented on #37
<3 you are hacking straight to github @mattdigitalme
@KevZawacki & @edrushka this is the badges space narrative

[2016-05-25 18:12] Saallen commented on #23
@KevZawacki a common thread is that ppl are destinctively calling for sessions or types of sessions. if we could leave this sentence to the end of each narrative so that in August we can just simply remove the line without distrupting the text that would be great.

[2016-05-25 18:32] arlissc commented on #41
@Saallen - Name:  OPEN SCIENCE

[2016-05-25 19:00] edrushka commented on #15
@vazquez here are the copy changes.

**1)  link to the official policy, so the first paragraph reads:**

R-E-S-P-E-C-T
The Mozilla Festival respects Mozilla's [community participation policy](https://www.mozilla.org/en-US/about/governance/policies/participation/). These guidelines cover our behaviour as participants, facilitators, space wranglers, staff, volunteers, vendors, and anyone else involv

[2016-05-25 19:04] edrushka commented on #32
@ScottDowne
- we can have a single checkbox instead of a yes/no option
- Sarah has shortened the text (but now it has a hyperlink).

What do you recommend? Pop-up? Additional step in the form?

[2016-05-25 19:07] edrushka commented on #35
@Saallen  Do you mean have a friends and allies and _in addition_ to the wranglers page? Or combine them?

[2016-05-25 19:10] KevZawacki commented on #23
@Saallen A heads up on process: I'm revising these as they come in -- but will hold off on sharing until they've all come in and been edited. (So I can take a look at them as a whole and ensure they fit together.)

Re: your above comment -- so, we should end each Space description with a sentence like, "If you have an idea for a session that fits within the xx Space, visit our Call for Proposals p

[2016-05-25 19:21] edrushka commented on #12
@Saallen ETA on this?

[2016-05-25 19:23] #15 closed

[2016-05-25 19:24] edrushka commented on #7
+1 makes sense to move up
New dates are
Friday Oct 28
Sat Oct 29
Sun Oct 30

[2016-05-25 19:39] ScottDowne commented on #32
@edrushka No to popup.

I think we put it near the end, above privacy checkbox, and style it a bit differently to break up the page a bit.

@vazquez thoughts?

[2016-05-25 19:58] vazquez commented on #32
Yes, I think the simper approach will be for it to appear last.

[2016-05-25 20:00] ScottDowne commented on #32
@vazquez last after privacy checkbox?

[2016-05-25 20:05] vazquez commented on #32
Sorry. Second-last.

[2016-05-25 20:07] ScottDowne commented on #32
@vazquez so weird idea, what if we gave it a different colour background, white, or something, so it breaks the flow and looks less muddled in with the rest of the content.

[2016-05-25 20:09] vazquez commented on #32
We can try that approach, yes. Though as of right now I don't see that as totally necessary. It's not a big change however. We can make that change at any point :)

[2016-05-25 21:19] #7 closed

[2016-05-25 23:34] edrushka commented on #5
@Saallen have you finished that copy?

[2016-05-25 23:38] edrushka commented on #16
@vazquez here's the copy for this page

We use GitHub to manage, review and curate sessions for MozFest. GitHub allows us to openly collaborate, and it provides a record for how the festival program came together.

When the Call for Proposals closes on August 1, Space Wranglers will review all proposals and choosing sessions that best align with their Space objectives. You can follow this process

[2016-05-25 23:45] edrushka commented on #33
Chris suggested putting the Session Format question as the first Q in part 2 of the form, which makes sense.

Any other feedback @chrislarry33?  We need to lock this form by EOD Friday.

[2016-05-25 23:47] edrushka commented on #36
cc @KevZawacki

[2016-05-25 23:48] edrushka commented on #38
cc @KevZawacki

[2016-05-26 12:20] Saallen commented on #40
Hi @KevZawacki @edrushka
Thinking about the layout of the page, the other spaces texts and the lack of bullet points from other spaces. Could we remix Melissa request for different types of sessions as below?
I want to stay true to her text and specific call to action but we explain Learning labs. and workshops in the format question of the call so this info might be surplus text.
Could this call

[2016-05-26 12:29] KevZawacki commented on #40
Hi @Saallen, no problem :-)

[2016-05-26 12:49] Saallen commented on #38
As per @hjbailey request for a text remix I was going to take the first cut, cc @edrushka @kevin

We have created a Space to reflect the diversity of the world, a stage set like a market place with creative interesting textiles colours, flavours and smells. Here we want to create a community that spans many cultures and languages, a representitve force of those on the web.
We want to explore and f

[2016-05-26 12:52] Saallen commented on #35
@edrushka I think that it would be the same page- we want to thank luca and the companies who he fors for. We want to thank Eva but also internews for allowing her the time to work on the festival.

[2016-05-26 12:55] Saallen opened #42 "Space narrative : Demystify the web"
Space: Demystify the web
Space Wrangler : @omnignorant
cc @KevZawacki & @edrushka

Grab your ticket to our carnival of learning! All who enter will gain the most important skills of our age: the ability to read, write and participate in our digital world. Mozilla Learning invites teachers and learners of all ages to join our funhouse of web literacy. Embrace the unknown! Experience the thrills! Im

[2016-05-26 12:59] mattdigitalme commented on #37
@Saallen ;) Does all this sound ok? When the call for proposals goes live we'll get on to getting specific badge sessions plugged in as well!

[2016-05-26 13:04] hjbailey commented on #38
Brilliant looking good.

[2016-05-26 15:16] edrushka commented on #35
Sorry, I didn't word that question well. Can we thank both friends/allies and wranglers on the Spaces/Sessions page https://2015.mozillafestival.org/sessions (which is being scoped in #17) or do you want an additional page?

[2016-05-26 16:05] Melechuga commented on #40
Space name: Fuel the Movement

[2016-05-26 16:34] Saallen commented on #40
🔥

[2016-05-26 16:36] Saallen commented on #37
@mattdigitalme I might leave off the top paragraph but to expand on this in a blog post that we post directly to our audience. Would that be ok with you?

[2016-05-26 16:48] Saallen opened #43 "Call for Proposals in Spanish"
Thanks to @hjbailey and some other amazing folks we now have our call for proposals form in Spanish
If you have any questions please direct them to heather esp for the final nod once we are ready to push live. CC @edrushka
Form:
https://docs.google.com/a/mozillafoundation.org/forms/d/1uoZArtKcmY9v4bl8mcS7smMI-HhkuIW6zXlscUpYMds/edit

[2016-05-26 16:49] Saallen opened #44 "Call for Proposals in Arabic"
Thanks to @hjbailey and some other amazing folks we now have our call for proposals form in Arabic
If you have any questions please direct them to heather esp for the final nod once we are ready to push live. CC @edrushka
Form:
https://docs.google.com/a/mozillafoundation.org/forms/d/1HoI1l8xRXnKyOW83QSvyG6knKZ2bNnDjMyES2U9lkB8/edit

[2016-05-26 16:51] edrushka commented on #43
cc @ScottDowne

[2016-05-26 16:51] edrushka commented on #44
cc @ScottDowne

[2016-05-26 16:51] Saallen opened #45 "Call for Proposals in French"
Thanks to @hjbailey and some other amazing folks we now have our call for proposals form in Arabic
If you have any questions please direct them to heather esp for the final nod once we are ready to push live. CC @edrushka @ScottDowne
Form:
https://docs.google.com/a/mozillafoundation.org/forms/d/1Pv4bMrSXhhUuxR426XxWYlLfjBsIExJrldpOfzYLcMM/edit

[2016-05-26 17:09] Saallen commented on #5
It is on todo for tomorrow 🐑 ish

[2016-05-26 17:14] Saallen commented on #24
Looping in @xmatthewx @lovegushwa as per Lucas request
Above is the brief for MozEx and the t&cs for submitting art work under the call

[2016-05-26 17:20] edrushka commented on #11
Here's the updated text from Spike (via email).

Volunteers are integral to what we do at Mozilla, and MozFest is no different. The annual festival could not take place without the time, dedication and love of our local volunteers.

Drawn from the local community, volunteers at MozFest do so much, from running the welcome desk and arranging swag bags to assisting press and helping with programming

[2016-05-26 17:20] edrushka commented on #11
@vazquez ^ that text is ready for implementation. We'll have the ti.to link (for the last sentence) by May 30.

[2016-05-26 17:48] Saallen commented on #35
@edrushka Yes, I suppose we could add a piece along the bottom here to say this work would not be possibile without the advice, cooperations and .... of xxxxx

[2016-05-26 17:56] Saallen opened #46 "Space narrative: A Tale of Two Cities: Dilemmas in Connected Spaces"
Space Narrative- A Tale of Two Cities: Dilemmas in Connected Spaces
Space Wranglers : cc @thornet @ileddigital @cubicgarden @autonome @geroter
cc @edrushka @KevZawacki

Narrative:
As our lives and physical environments become even more connected, we're faced with dilemmas. Should I allow my personal data to be used if it improves my daily life? Should my everyday objects be online? If my professio

[2016-05-26 17:58] Saallen commented on #23
@KevZawacki I think we should add that line in at the top of the page when describing what is taking place on the page. what do you think @edrushka

[2016-05-26 18:35] edrushka commented on #35
+1 I'd prefer to add this to the bottom of the existing page rather than create a new page.

Confirming that this is for the fall site update, and not June 1.

[2016-05-26 18:47] edrushka commented on #23
Sure!

So to summarize:
- all space descriptions will go on what we currently call the sessions page:  https://2015.mozillafestival.org/sessions
- we'll rename this page 'spaces and sessions'
- we'll edit the para at the top of the page to explain what's happening
- we'll link to this page directly from the Call for Proposals form, where we ask people to pick what space they are submitting to

[2016-05-26 18:49] vazquez commented on #11
Text has been changed!

[2016-05-26 21:37] edrushka opened #47 "Set up confirmation email for session proposals"
After people submit their MozFest session proposal via the website (this work tracked in #16), we need to send them a confirmation email (copy has been finalized in #28).

@ScottDowne is taking care of the form, and getting the data transferred from the Google Spreadsheet to Github. @cadecairos, can you pick it up from there? The tricky bit is getting each person's custom github ticket into the em

[2016-05-26 21:47] edrushka commented on #47
cc @simonwex

[2016-05-27 02:30] cadecairos commented on #47
We're cutting it a bit close here.

A few questions: (for either @edrushka or @ScottDowne)
1. What email address are we sending confirmations from? Depending on which, and were we send it we'll need to confirm domain ownership if we havent sent from that provider before.
2. Do we want to send emails using an existing system set up for transactional email? (sawmill/lumberyard, which does login and

[2016-05-27 10:26] ScottDowne commented on #47
I can answer 2 and 3. It'll be using sawmill and etc. And yeah the code
that sends it is going to be the code that syncs with github which is on my
end. I just need sawmill setup to know how to send this email when I ask it
to.

[2016-05-27 10:29] Saallen commented on #35
Yes, this is a fall update :)
However we need to add names to the Space narratives for this release

[2016-05-27 10:32] Saallen commented on #42
@omnignorant can you please confirm the full list of all Wranglers names here to be added to the website. For 1st of June we are just adding names but will add Bios later in the fall

[2016-05-27 10:32] Saallen commented on #41
@arlissc  can you please confirm the full list of all Wranglers names here to be added to the website. For 1st of June we are just adding names but will add Bios later in the fall

[2016-05-27 10:33] Saallen commented on #40
@Melechuga can you please confirm the full list of all Wranglers names here to be added to the website?  For 1st of June we are just adding names but will add Bios later in the fall

[2016-05-27 10:33] Saallen commented on #39
@erikao can you please confirm the full list of all Wranglers names here to be added to the website?
For 1st of June we are just adding names but will add Bios later in the fall

[2016-05-27 10:33] Saallen commented on #38
@hjbailey  can you please confirm the full list of all Wranglers names here to be added to the website?
For 1st of June we are just adding names but will add Bios later in the fall

[2016-05-27 10:33] Saallen commented on #37
@mattdigitalme can you please confirm the full list of all Wranglers names here to be added to the website?
For 1st of June we are just adding names but will add Bios later in the fall

[2016-05-27 10:35] Saallen commented on #36
Space Wranglers here are Dorine Flies and Andrew Mulholland

[2016-05-27 11:25] Saallen commented on #47
Can we send the confirmations from festival@mozilla.org
as this is where we direct folks if they have any questions so for consistancy this would be my preferance

[2016-05-27 11:31] cadecairos commented on #47
@Saallen Do you have access to this email address' inbox? I'm going to need to verify it for sending emails.

[2016-05-27 11:33] cadecairos commented on #47
looks like we'll have to go through Moco to get this working. I'm not sure how long that will take.

[2016-05-27 11:36] ScottDowne commented on #47
Possible by June 1st-3rd?

[2016-05-27 11:37] cadecairos commented on #47
that depends on how comfy they are with letting our AWS account send mail from any mozilla.org address. I'm filing an IT bug to see.

[2016-05-27 12:10] cadecairos commented on #47
https://bugzilla.mozilla.org/show_bug.cgi?id=1276205

[2016-05-27 12:23] hjbailey commented on #38
Heather Bailey
Dwayne Bailey
Manal Hassan

[2016-05-27 13:08] arlissc commented on #41
@Saallen - here you go.
Kirstie Whitaker
Joey Lee
Richard Smith-Unna
Arliss Collins :)

[2016-05-27 15:13] edrushka commented on #35
No problem. I'll be sure to add the names to #17.

[2016-05-27 15:16] edrushka commented on #34
Mark signed off on the speech bubble 🌠

[2016-05-27 15:16] #34 closed

[2016-05-27 15:19] edrushka commented on #13
@vazquez Mark has signed off on the speech bubble. Here it is:

Dear Friends,

I like to think of the Mozilla community as a reflection of the Internet: Creative. Eclectic. Speaking many languages, spanning many disciplines, always open to new ideas.

This is most apparent at MozFest, the annual celebration of our community and the greater open Internet movement. Three days each year, we gather to

[2016-05-27 15:31] #13 closed

[2016-05-27 15:37] Saallen commented on #12
Here is the 2016 form- a carbon copy from last year
https://docs.google.com/a/mozillafoundation.org/forms/d/10l8_PtMgHvhxh4qZcGqTzWm3a0QhuTQOIVnn4Bx8qKc/edit#

[2016-05-27 15:38] Saallen commented on #12
@edrushka Looking at last years form- would it be possible to have some titles beside the information to help clarify the info such as
When:
Where:
Sign up:

[2016-05-27 15:42] Saallen commented on #5
Youth ticket copy - Join us for three days to build, debate and explore our lives online. This ticket covers entry, lunch, swag and two days of building, making and learning on Saturday 29th and Sunday 30th of October. This ticket is for those under the age of 18. If the ticket holder is under 16 years of age they must be accompanied by an adult or part of a school group

[2016-05-27 15:43] Saallen commented on #5
Adult ticket copy - Join us for three days to build, debate and explore our lives online. This ticket gains you entry to the festival from Friday night at 18:00 for the Science Fair and two days of sessions, workshops and talks taking place all day Saturday and Sunday. This ticket will also cover great coffee, lunch on Saturday, Sunday and adult beverages! Plus swag, an after party, demos and so m

[2016-05-27 15:49] edrushka opened #48 "All Space Narratives"
Here is the comprehensive information for all the Space Narratives, which will go on what is now called the sessions page #17.

#### Open Badges
Narrative Text
Space Wranglers

#### Localisation
Narrative Text
**Space Wranglers**
- Heather Bailey
- Dwayne Bailey
- Manal Hassan

#### Journalism
Narrative Text
Space Wranglers

#### Fuel the Movement
Narrative Text
Space Wranglers

- Stacy Martin
- R

[2016-05-27 15:56] Saallen commented on #5
Main copy cc @edrushka - it might be too much but.... 🐹
MozFest is a 3 day extavaga of  participant-led sessions, inspiring talks, hands on workshops, digital art galleries, VR games, web literacy training, raspberry pi hacks, hall way conversations, youth lead learning labs, diversity training love fest for the open web.
MozFest is populated with people that are open, friendly and eager to help.

[2016-05-27 15:57] mattdigitalme commented on #37
Sounds good to me - when you say all wranglers you mean DME staff right? Do they need GitHub handles?

[2016-05-27 16:00] Saallen commented on #25
Experience wrangler here is Julie Neville

[2016-05-27 16:36] Melechuga commented on #40
Wranglers: Stacy, Raegan, Georgia (and me).

[2016-05-27 18:46] Melechuga commented on #40
@Saallen @KevZawacki I've updated the narrative above; we've narrowed our scope around Copyright to align with internal strategy.

[2016-05-27 19:09] edrushka commented on #37
We don't need Github handles quite yet. Just names are good for now.

[2016-05-27 19:21] edrushka commented on #12
@vazquez here is the updated form: https://docs.google.com/a/mozillafoundation.org/forms/d/10l8_PtMgHvhxh4qZcGqTzWm3a0QhuTQOIVnn4Bx8qKc/edit# It's exactly the same as last year's, but with updated dates.

Not sure if you'll have time for this, but is it possible to make it so when the events get displayed on the actual page, can the When, Where and Sign Up fields be indicated as Sarah requested in

[2016-05-27 20:16] edrushka commented on #5
@Saallen I'm going to edit the ticket types for consistency because it currently seems like there are different offerings for youth and adults ('two days of building, making and learning' vs 'two days of sessions, workshops and talks').

Also, let's discuss adding main copy to this page. This isn't in scope for June 1, as Ricardo won't be available to create and style a new section (there isn't cu

[2016-05-27 20:19] edrushka commented on #5
@vazquez @ScottDowne here is the copy to go under the youth and adult ticket icons on the Tickets page.

**Description for youth ticket:**
This ticket covers entry to the festival on Saturday and Sunday. It includes lunch, beverages, swag, and two days of building, making and learning. Youth tickets are for those under 18. Youth under 16 must be accompanied by an adult. If you are an educator brin

[2016-05-27 20:21] edrushka commented on #16
The only thing we're waiting on here is the link to the call for proposals.

[2016-05-27 20:46] vazquez commented on #12
The form now shows the sample dates with 2016 as the year. I didn't get a chance to do this though:

[2016-05-27 20:54] vazquez commented on #4
I think this issue is good to close! All changes are now in staging environment.

[2016-05-27 20:55] #5 closed

[2016-05-27 20:56] vazquez commented on #11
The only thing we are missing here is the ti.to link. Otherwise it's good to go.

[2016-05-27 21:02] mattdigitalme commented on #37
Ok sweet:

Definite:
Me (Matt Rogers)
Tim Riches
Lucy Lewis

Will confirm on Tuesday:
Grainne Hamilton
Sharon Ashley
Mark Riches
Kevin Field
Alison Booth
Katharine Courtney
Anna Sheard

[2016-05-27 21:13] edrushka commented on #4
Boom! 💥

[2016-05-27 21:13] #4 closed

[2016-05-27 22:35] edrushka commented on #41
Here's your final Space Narrative (lightly edited for consistent copy and tone with the others).

**Open Science**
Science and the Web both help us understand the world around us. In the Open Science Space, participants explore, remix, and hack at the intersection of science and the Internet, and learn how the Web is transforming research and discovery.

We cover topics like open data and research

[2016-05-27 22:37] edrushka commented on #39
@erikao @ryanpitts Here's your final Space Narrative (lightly edited for consistent copy and tone with the others).

**Journalism**
Journalism doesn't just tell the story of the Internet — it's part of it. Software like Django, D3, and Backbone has emerged from newsrooms to power some of the most innovative work on the open Web. And reporting entertains and challenges millions of readers online ev

[2016-05-27 22:43] edrushka commented on #40
@Melechuga We've edited all the Space Narratives for consistent copy, tone and wordcount. I'm including a screenshot from the Call for Proposals form to show how we're asking for different types of sessions. Let me know if the edits to your narrative are ok.
![screenshot 2016-05-27 15 40 42](https://cloud.githubusercontent.com/assets/4515662/15622802/96810a60-2421-11e6-995e-37920868d84a.png)

**Fu

[2016-05-27 22:48] edrushka commented on #38
@hjbailey We've edited all the Space Narratives for consistent copy and tone. How does this look to you for the final version?

**Localisation**
The Internet spans many cultures and languages — and so does the Localisation Space.

This space reflects the diversity of the Web and the people who use it. It’s set up like a marketplace, rich with different colors, smells, and flavours. We’ll explore h

[2016-05-27 23:08] edrushka commented on #46
@thornet @ileddigital @cubicgarden @autonome @geroter We've edited all the Space Narratives for consistency in copy, tone, wordcount and format. Does this work for you as your final Space Narrative?

**A Tale of Two Cities: Dilemmas in Connected Spaces**
As our lives and physical environments become even more connected online, we're faced with dilemmas. Should I allow my personal data to be used i

[2016-05-28 01:12] Melechuga commented on #40
Awesome @edrushka! One thing -- can we add a little bit about the mission and less about the actual format (given that the format options are included in the larger form)? For example, can the paragraph say,

"Mozilla believes intellectual property rights should foster innovation, creation and competition. We are looking for sessions to help participants understand how changes in copyright law in

[2016-05-30 13:11] SpikeUK commented on #11
Volunteer sign-up page has been created and is now live at https://ti.to/Mozilla/mozfest2016-volunteers
Spike

[2016-05-30 15:13] Saallen commented on #37
hi @mattdigitalme when I say Wrangler I mean the people who will be responsable for the entire work coming together and  showing up at MozFest-
Other roles within the Space are:
- Facilitators are those who lead a session or experience,
- Pathfinders are those who designe a learning objective or path around a group of sessions or/and  experiences.

[2016-05-30 15:17] edrushka commented on #11
^ @ScottDowne - just need you to add that link to the last line of text 'Sign up here to be a MozFest volunteer.' and this page is done. Thanks.

[2016-05-30 15:27] Saallen commented on #16
Not sure if you are looking for this version but here is the final edit for the Google form I have been working on
https://docs.google.com/a/mozillafoundation.org/forms/d/19eD51TFUfklPS57XccwP_YPkDZ4DVl_aB4olaJmvgNU/edit

[2016-05-30 15:32] edrushka commented on #16
@Saallen

The terms for the exhibit should be a single checkbox, not yes/no radio buttons.

The terms should be the last question in that section.

Also, in that section, why aren't all the spaces listed under the question 'Is there another space you believe this exhibit could be shown within'?

[2016-05-30 15:36] Saallen commented on #16
@edrushka all Spaces listed now and terms moved down

[2016-05-30 15:41] edrushka commented on #16
Thanks Sarah 🐝 🌻
The translated forms don't contain all the spaces. Can we ping Heather for that?

[2016-05-30 15:43] edrushka commented on #16
Oh wait, I think it's just that one Moz Ex question that's not listing them all. I think we can copy and paste from the other sections.

[2016-05-30 15:45] Saallen commented on #16
Good catch- no Space names should be translated as they are titles and names- I will make direct edits now to each form  @edrushka I am going to go through all forms now to ensure all are listed exactly the same 👓

[2016-05-30 15:57] Saallen commented on #45
CC @edrushka Space listing amended. @hjbailey i left No as an option for picking a a secondary Space to submit under- does this stil work?

[2016-05-30 16:00] Saallen commented on #44
@hjbailey there have been changes to Space names and new ones added. Can someone form your team make amendments for us?
In section one the list of spaces should be
*Digital Arts and culture
*Localisation
*Open science
*Journalism
*Moz Ex (art exhibit)
*A Tale of Two Cities: Dilemmas in Connected Spaces
*Demystify the web
*Open badges
*Youth Zone
*Fuel the movement

Section two should have
*Digital

[2016-05-30 16:30] Saallen commented on #37
@mattdigitalme I just wanted to confirm that you are building a series of session and experiences that fit under the learning hub of Badges, thus making you a Space. are you happy with running and Open Badges Space for MozFest?

[2016-05-30 18:12] ScottDowne commented on #11
Proposed changed here: https://github.com/mozilla/mozillafestival.org/pull/382

Needs a reviewer.

[2016-05-30 19:08] ScottDowne commented on #11
I landed the patch, it's on the develop branch.

Not sure currently where that builds, but closing this as I'm confident the code landed.

[2016-05-30 19:08] #11 closed

[2016-05-30 21:48] edrushka commented on #40
@Melechuga How's this? I just changed "Mozilla believes" to "we believe", since spaces shouldn't feel too Moz-centric.

**Fuel The Movement**
The open Internet movement needs you! When everyday Internet users band together, we can overcome threats to the free and open Web and keep it a global public resource.

We believe intellectual property rights should foster innovation, creation and competiti

[2016-05-30 22:54] ScottDowne commented on #47
@cade Looking at last year's code, we have this block:

[code]

Looks like we're already capable of this.

[2016-05-31 04:01] cade commented on #47
I'm hesitant to weigh in on the viability of your code suggestion, @ScottDowne, until I'm able to compare it to the bug ticket that @cadecairos has created. Unfortunately, when I click the link, it says "Access Denied". Please give me access to all the things so I can give you a fully informed opinion.

In the mean time, would it help to add a few `iframe`s?

[2016-05-31 10:03] Saallen opened #49 "Github integration- labelling"
Hi @ScottDowne @mmmavis @edrushka
I wondered if y'all had a separate conversation on about github integration and labelling?
In previous years we used Milestones to indicate acceptance of session and labels for pathways.

Since this year submissions are able to pick two Spaces they would like to accepted under how will this show up on the intragation from google form to github?
Are we using milest

[2016-05-31 13:27] ScottDowne commented on #47
@cade lol!

I  :heart: `iframe`s

[2016-05-31 16:10] Melechuga commented on #40
@edrushka This is great! One last thing: change "open Web" to "open Internet" -- this is now the wording we're using, it seems.

Thank you!!

[2016-05-31 16:24] edrushka commented on #49
@mmmavis what do you think is the best technical solution? Could we make labels that say Alt:YouthZone (or whatever the alternate space is)? If not, could the alternate space be part of the information that's ported over to the Github comment?

[2016-05-31 16:40] edrushka commented on #40
👍 done! Thanks Melissa.

[2016-05-31 16:43] edrushka commented on #47
@cade is such a good sport! 🙇

[2016-05-31 16:57] omnignorant commented on #42
@Saallen when you say "Names" are you actually asking for email or GitHub handles, or just first/last name?
- Kim Wilkens
- Su Adams
- Simeon Oriko

[2016-05-31 17:26] ScottDowne commented on #47
@edrushka ok cool, looks like we'll probably be able to do this.

The email body we used last year was:

[code]

We just need to update it.

[2016-05-31 18:14] edrushka commented on #47
@cadecairos - hoping for updates on a couple things:
1) any word from MoCo on sending emails from festival@mozilla.org
2) will we be able to include a unique github link in the email?

[2016-05-31 18:24] edrushka commented on #42
Names are good for now. Thanks, Robert!

[2016-05-31 18:27] ScottDowne commented on #47
@edrushka no to the github integration, haven't even started. If it means we shouldn't send out any emails until we have github integration, then we can continue to put a pause on the email for now.

[2016-05-31 19:13] edrushka commented on #47
My question is will the GH integration be possible? If not, we can go to plan B.

[2016-05-31 19:14] cadecairos commented on #47
I think we may already be set up to do this from last year, will confirm.

[2016-05-31 19:44] edrushka commented on #28
@cadecairos

[2016-05-31 19:47] mmmavis commented on #47
/cc myself @mmmavis

[2016-05-31 20:43] edrushka commented on #17
WOOO! It's finally ready!

@mmmavis here is the content for this page: https://docs.google.com/document/d/1TyncLzVRiMt-bwAa9aX99oIdG6G6WiDzYupsvYjnIE8/edit#  A few notes:
- This page is now called Spaces and Sessions. Please update the banner text if Ricardo didn't do that already
- You can delete all the space icons for now. We'll add them back in in the fall
- Wranglers are names only (no handle

[2016-05-31 21:50] mmmavis commented on #17
@edrushka cool, I'll have a PR up for this today. 👍

[2016-06-01 00:39] edrushka opened #50 "Proper links to translated forms"
The forms are here, but these are the editable links. For the life of me I can't get public, non-editable links to these. Maybe one of you will have more luck @Saallen @ScottDowne

French
Spanish: https://docs.google.com/a/mozillafoundation.org/forms/d/1uoZArtKcmY9v4bl8mcS7smMI-HhkuIW6zXlscUpYMds/edit
Arabic: https://docs.google.com/a/mozillafoundation.org/forms/d/1HoI1l8xRXnKyOW83QSvyG6knKZ2bNnDj

[2016-06-01 01:33] ScottDowne commented on #50
I think these are the usable links
spanish https://docs.google.com/forms/d/1uoZArtKcmY9v4bl8mcS7smMI-HhkuIW6zXlscUpYMds/viewform
arabic https://docs.google.com/forms/d/1HoI1l8xRXnKyOW83QSvyG6knKZ2bNnDjMyES2U9lkB8/viewform
french https://docs.google.com/forms/d/1Pv4bMrSXhhUuxR426XxWYlLfjBsIExJrldpOfzYLcMM/viewform

I think it's the little eye icon in the top right.

[2016-06-01 08:48] Saallen commented on #50
Let me know if you continue to have trouble with this links
I have made them into cute bit.ly links 🐤
http://mzl.la/Français
http://mzl.la/MozFestArabic
http://bit.ly/MozFestSpanish

[2016-06-01 13:41] ScottDowne commented on #50
Done! https://arcane-peak-71038.herokuapp.com/proposals

[2016-06-01 13:41] #50 closed

[2016-06-01 17:20] Saallen opened #51 "Updates- should the link still be live"
Once we start to sell tickets should there be a link somewhere where people can continue to request updates about the festival?

[2016-06-01 20:44] Melechuga commented on #40
We got some wording changes requested by the Policy team; how does the following sound @KevZawacki @edrushka @Saallen? Apologies for the back-and-forth!

**Fuel The Movement**
The open Internet movement needs you! When everyday Internet users band together, we can overcome the many threats to the free and open Internet, and keep it a global public resource.

This year, we're focusing on **copyrigh

[2016-06-01 21:17] edrushka commented on #40
Whew...you made it just under the wire! Changes made!

[2016-06-01 22:03] Melechuga commented on #40
You're the best @edrushka!! Really, REALLY appreciate it. Thank you.

[2016-06-02 12:00] Saallen commented on #51
Thanks for adding the stay in contact page- i did notice that when I click on the stay in contact page I see this :https://ti.to/Mozilla/mozfest-2016
Both tickets and Update sign up
Does anyone know if the ticket page is linked directly to the tickets themselves? so if I turn off the link between tickets and mozilla ti.to home page I wont break anything? @vazquez  or @mmmavis or @ScottDowne ??

[2016-06-02 12:16] ScottDowne commented on #51
I'm not following but I'll be in the office in ten mins and I'll ping you :)

[2016-06-02 12:26] Saallen commented on #51
No rush= ping me when ready as i think it will be best of I share screen with you to explain as noticed another little bug

[2016-06-02 14:05] Saallen commented on #51
Update: There is a little :bug: linking the 2016 tickets with the ticket page. @ScottDowne is working on it and rating the ti.to support team as I type.

Another issue but not a  MVP but something I will try fix if that the updates link leads to the ti.to mozfest home page which displays all tickets as well and the sign up for updates link. It would be awesome if just the sign up was here....

[2016-06-02 14:13] ScottDowne commented on #51
the updates for the tickets are in a patch here which is one @mmmavis for review.

https://github.com/mozilla/mozillafestival.org/pull/390

The bug with this is that  locally it doesn't use the widget, it just links. I'm assured by tito that when it's live, and on https, it'll use the widget. So nothing needs to happen to fix that part of the linking bug, we just need to point the widget to the 20

[2016-06-02 17:53] Saallen opened #52 "Fields to be integrated into program github"
These are the fields from the Call for Proposals to be integrated into the top comment of the each issue
List of fields to be integrated into the first comment on Github cc @edrushka

* First name
* Surname
* Organisation
* Twitter
* Space
 * this also gets a github label
* Title of piece- should be the Issue title if filled in
* Method:
* Link to see your work:
* Description
* Format
* Session ti

[2016-06-02 17:54] Saallen opened #53 "Space names for Github label"
Please make these titles in Github labels @mmmavis 🔬

Digital arts and culture
Localisation
Open science
Journalism
Moz Ex
A tale of two cities: a dilemma of connected spaces
Demystify the web
Open badges
Youth zone
Fuel the movement

[2016-06-02 22:58] mmmavis commented on #49
(correct me if I'm wrong plz @edrushka @Saallen )

From our discussion earlier today (re: https://public.etherpad-mozilla.org/p/festival-sessioncuration) we will assign both Space labels to the ticket. We will also mention which Space is being the 1st choice & what is being the 2nd choice Space in the ticket.

So for example, my session proposal has `Journalism` as 1st choice Space and `Youth Zone

[2016-06-02 23:00] mmmavis commented on #53
Yup yup I can do that. We'll need to add a prefix to these Space labels. What do you think about adding `[Space]` to them? @Saallen

e.g.,
`[Space] Digital arts and culture`
`[Space] Localisation`

[2016-06-02 23:04] mmmavis commented on #53
Also, is this the repo where the proposals are gonna live? https://github.com/MozillaFoundation/mozfest-program-2016

[2016-06-02 23:55] mmmavis commented on #52
@Saallen

yup yup

[2016-06-03 02:14] mmmavis commented on #52
Hey @Saallen what did you mean by "agenda"? Which question on the form is it linked to?

[2016-06-03 08:15] mattdigitalme commented on #37
Yup - well up for building a set of sessions! We've already got a few in mind we'll get partners to put proposals in for :)

In terms of wranglers: it'll be me, Lucy, Tim and Grainne. Is 4 ok?

[2016-06-03 11:25] KevZawacki commented on #26
We're all set here -- we can open more tickets down the line when we're sourcing individual blogs.

[2016-06-03 11:26] #26 closed

[2016-06-03 13:09] omnignorant opened #54 "Security Error on Page Load at mozillafestival.org"
Not sure what this is about, but see screenshot:

![screen shot 2016-06-03 at 8 06 23 am](https://cloud.githubusercontent.com/assets/6335874/15779500/5a390bca-2962-11e6-9ec0-7f0c3bb21bdc.png)

[2016-06-03 14:45] Saallen opened #55 "Accessing the website : Website not secure!"
![screen shot 2016-06-03 at 15 44 51](https://cloud.githubusercontent.com/assets/10194015/15782430/32b8b1e6-29a2-11e6-8779-62074e680c2a.png)

[2016-06-03 14:46] Saallen commented on #55
CC @mmmavis  CC @edrushka

[2016-06-03 15:29] ScottDowne commented on #55
@cadecairos ^^

[2016-06-03 16:34] Saallen commented on #54
Thanks @omnignorant All fixed now 👍

[2016-06-03 16:34] #54 closed

[2016-06-03 16:36] Saallen commented on #53
Yes, thats a good idea @mmmavis all are spaces except Moz Ex- which is an experience
so will need [ Experience ] Moz Ex
Yes that is the repo

[2016-06-03 16:37] Saallen commented on #52
@mmmavis  Agenda -How do you see that working?

[2016-06-03 16:38] Saallen commented on #51
Hey @ScottDowne  did we point the widget to the 2016 tickets?

[2016-06-03 16:40] #55 closed

[2016-06-03 17:18] edrushka opened #56 "Fix Ti.to integration"
The Ti.to ticket sales seem to be pointing to 2015 (which is now closed for sales). Can we get ticket sales live for 2016 please?

@mmmavis please prioritize this over the Github integration pieces as we can't publicize the site until this is fixed. Thanks! 🐴

cc @Saallen and @ScottDowne

[2016-06-03 17:50] ScottDowne commented on #51
@Saallen we did, but I think it still needs to be pushed to production.

I'm not familiar with how to do that on mozfest currently. cc @mmmavis?

[2016-06-03 17:53] mmmavis commented on #56
kk doing the push now. it's on staging already but i forgot to push it to production. 😉

[2016-06-03 18:05] edrushka commented on #56
Woot! It works now! Thanks for doing that so quick 🏇

I noticed that we're using draft copy on the ticket description but unfortunately I can't find the updated copy. _This is not a blocker - we can simply update the text next week_ @Saallen where's the ti.to copy we hacked?

[2016-06-03 18:17] mmmavis commented on #51
@ScottDowne merging to `develop` (and `master`) auto triggers the build 🌞

[2016-06-03 18:17] mmmavis commented on #51
It will take a while for the changes to show on https://mozillafestival.org (due to CDN)

[2016-06-06 11:55] Saallen commented on #56
@edrushka , there is two sections to the ticket copy- what we have on the mozfest website as seen.
Then what is linked directly to the ticket page- as below
Join us for three days to build, debate and explore our lives online. This ticket gains you entry to the festival from Friday night at 18:00 for the Science Fair and two days of sessions, workshops and talks taking place all day Saturday and S

[2016-06-06 11:55] Saallen commented on #56
Is there a way to get the prices of tickets on the mozfest webpage?

[2016-06-06 22:33] mmmavis commented on #52
Hi @Saallen and @edrushka

Could you try submitting proposal on my build: http://mavis-mozfest.herokuapp.com/proposals and see if GitHub issue get filed as expected? https://github.com/mmmavis/test-mozfest-2016-proposals/issues (my test mozfest proposal repo) 🌞

[2016-06-06 23:30] edrushka commented on #56
@Saallen we edited that text to make it, and the youth text, more aligned. I thought we did the edits on a GDoc but I can't find it now. Maybe we did them directly in Ti.to?

I'll file a new ticket to get the prices on the MozFest page.

[2016-06-06 23:34] edrushka opened #57 "Show ticket price on ticket page"
Can we adjust the text in the Youth and Adult ticket description text on the [Tickets page] (https://mozillafestival.org/tickets) to show the prices?

Youth Ticket £3

Adult Ticket £45

Is this good @Saallen or do you want it on the actual ticket graphic?

[2016-06-06 23:46] edrushka commented on #52
@mmmavis I submitted something

[2016-06-07 13:47] Saallen opened #58 "Bug- Wranglers on Open Badges"
Page: https://mozillafestival.org/spaces-and-sessions
Space: Open badges

Bug- Lucy Neale should be Lucy Lewis (my bad)
Can you add Grainne Hamilton

CC @edrushka @mmmavis

[2016-06-07 13:54] Saallen opened #59 "Making ti.to emails fancy"
I want to use TI.TO to send my festival correspondance but the emails are pretty plain.
https://ti.to/Mozilla/mozfest-2016/admin/messages/dash
I know Ricardo made the event page look pretty but is there a way to make the embedded email look puurty? @mmmavis do you know?
cc @edrushka

[2016-06-07 16:43] mmmavis commented on #52
Hello @edrushka and @Saallen 😄 could you verify that the exported GitHub ticket is in the format & contains all the information we want?

[2016-06-07 16:43] mmmavis commented on #52
@Saallen ^

[2016-06-07 17:11] Saallen commented on #52
Hey @mmmavis , it looks like  you are just missing
*outcomes

which is the question on section3 :What do you see as outcomes after the festival? How will you and your participants take the learning and activities forward?

[2016-06-07 17:33] mmmavis commented on #52
@Saallen nice catch! thanks! I fixed that issue. Gonna ask Scott to review my PR now. 🌞

[2016-06-07 23:38] lovegushwa commented on #24
@Saallen Sorry to follow up so late on this, noticed I was flagged.

I haven't seen this in a call for proposals before:

" Anything you submit must be your own original work. If your content contains other’s material (e.g. images, video, music, etc) you must have obtained the necessary permissions to use the material."

Are we asking for this? or the Tate? Seems like were really limiting parody a

[2016-06-08 00:08] mmmavis commented on #59
hey @Saallen I don't see any advanced options here: https://ti.to/Mozilla/mozfest-2016/admin/settings/emails 😞

[2016-06-08 15:19] Saallen commented on #58
Bug 🐛
Page: https://mozillafestival.org/spaces-and-sessions
Experience (space page) Moz eX
Please add additional wrangler: Irini Papadimitriou

[2016-06-08 15:21] Saallen commented on #58
Bug 🐛
Page: https://mozillafestival.org/proposals
Intro paragraph- This year we are also accepting proposals in Spanish, French and Arabic.

Please add also into the line as it is currently missing 🙇

[2016-06-08 15:22] Saallen commented on #59
Its gravy- I added the logo directly into the email. 🌴

[2016-06-08 15:23] #59 closed

[2016-06-08 16:32] Saallen opened #60 "Session submissions in a different language"
Hi @mmmavis
Is it possible to get the spanish, Arabic and French session submitted and ported to github the same as the main proposals form but with the additional label of the actual language?
For example [Spanish] [French] [Arabic]

cc @edrushka

[2016-06-08 19:56] mmmavis commented on #49
Done. See sample GitHub ticket: https://github.com/MozillaFoundation/mozfest-program-2016/issues/1 💐

[2016-06-08 19:56] #49 closed

[2016-06-08 20:05] mmmavis commented on #52
Done 🚀 🎉 See my test proposal on the program repo here: https://github.com/MozillaFoundation/mozfest-program-2016/issues/4

👯 👯 👯 👯 👯 👯 👯 👯 👯 👯 👯 👯 👯 👯 👯

[2016-06-08 20:06] #52 closed

[2016-06-08 20:07] Saallen commented on #52
Great work @mmmavis Thank you!!!! ⭐

[2016-06-08 20:07] mmmavis commented on #47
THIS IS DONE 🎉 THANKS TEAM

try submitting a proposal via https://mozillafestival.org/proposals if you are curious 😉

👯 👯 👯 👯 👯 👯 👯 👯 👯 👯 👯 👯 👯 👯 👯

[2016-06-08 20:07] #47 closed

[2016-06-08 20:11] mmmavis commented on #60
Hey @Saallen

Unfortunately for sessions that are NOT submitted via https://mozillafestival.org/proposals we will have to manually enter those into GitHub. [I'll add a issue template to the program repo](https://github.com/MozillaFoundation/2016.Mozillafestival.org/issues/61).

[2016-06-08 20:12] mmmavis opened #61 "(WIP) For referenece, GitHub ticket template for session proposal"
#### ID
- ID can be generated using https://www.uuidgenerator.net/version4
- do NOT change a session ID if it's already been set

[2016-06-08 20:16] mmmavis opened #62 "Plan for proposal submitted before GitHub integration was in place"
- [x] @mmmavis to enter those proposals to https://github.com/MozillaFoundation/mozfest-program-2016
- [x] @mmmavis to prepare Google Spreadsheet that contains info needed for @cadecairos to send out confirmation emails to those proposal submitters
- [x] @cadecairos to send out emails

anything else?

/cc @edrushka @Saallen

[2016-06-08 20:19] mmmavis commented on #53
DONE! https://github.com/MozillaFoundation/mozfest-program-2016/labels 💃

[2016-06-08 20:19] #53 closed

[2016-06-08 20:28] mmmavis commented on #52
❤️

[2016-06-08 20:44] mmmavis commented on #51
I believe we can close this ticket now 😉

[2016-06-08 20:44] #51 closed

[2016-06-08 20:45] mmmavis commented on #60
note that we'll have to manually email those people too

[2016-06-08 20:48] cade commented on #47
![yusss](https://cloud.githubusercontent.com/assets/3403/15910432/67ddf42a-2d90-11e6-9516-629545c65070.gif)

[2016-06-08 20:51] cadecairos commented on #47
One of us is going to have to start going by something other than cade - Rock Paper Scissors? :laughing:

[2016-06-08 21:02] cade commented on #47
![rps](https://cloud.githubusercontent.com/assets/3403/15910816/4fdde504-2d92-11e6-8853-7a18afb422fd.gif)

(My apologies to anyone who may be trying to actually get work done...)

[2016-06-08 21:09] mmmavis commented on #12
Do we wanna add a link to the fringe page somewhere on the site? 😉

[2016-06-08 21:40] mmmavis commented on #58
DONE!

[2016-06-08 21:40] #58 closed

[2016-06-08 23:17] edrushka commented on #62
Sounds good. Hopefully there's not too many sessions.

[2016-06-08 23:18] edrushka commented on #47
I think @cade should just come work for Mozilla. Clearly he's one of us.

https://careers.mozilla.org/listings/

[2016-06-08 23:23] edrushka commented on #12
Yes! Last year it had its own icon on the bottom of the page under the CTA. I think Ricardo just hid it.

See it here: https://2015.mozillafestival.org/

[2016-06-09 00:30] mmmavis commented on #47
👍 👍 👍 👍 👍

[2016-06-09 00:48] cade commented on #47
If I didn't like my current job so much, I would never stop telling the story of how I gif'd my way into a job at Mozilla on the back of @cadecairos's GitHub handle.

It'd be funny at first, but then when you realize I'm just going to keep telling the story, you'd be all, "Dear eight pound, six ounce, newborn baby Jesus, in your golden, fleece diapers, with your curled-up, fat, balled-up little fi

[2016-06-09 08:43] Saallen commented on #58
whoop

[2016-06-09 09:19] Saallen commented on #60
OK! Cool- I can take on that of entering those sessions as they come in. I will need to think of a plan on how to email them sucessfully.

[2016-06-10 00:28] mmmavis opened #63 "Copy help on issue template on mozfest-program-2016"
Hey @edrushka , to prevent people from entering proposals directly to the `mozfest-program-2016` repo I'm thinking about adding `ISSUE_TEMPLATE.md` there. Content we put in `ISSUE_TEMPLATE.md` will show up in the description portion on the [new ticket page](https://github.com/MozillaFoundation/mozfest-program-2016/issues/new).  Can I get some help on the copy? I think we should encourage people to

[2016-06-10 00:37] mmmavis commented on #61
**[ ID ]** FIXME

**[ Submitter's Name ]** FIXME
**[ Submitter's Affiliated Organisation ]** FIXME, delete this line if no entry
**[ Submitter's Twitter ]** @FIXMEthehandle, delete this line if no entry

**[ Space ]** FIXME
**[ Secondary Space ]** FIXME, delete this line if no entry

**[ Format ]** FIXME, FIXME, FIXME

### Description

### Agenda

### Participants

### Outcome

[2016-06-10 00:46] mmmavis commented on #60
@Saallen I'm working on instructions and markdown template for you to reference: https://github.com/MozillaFoundation/2016.Mozillafestival.org/issues/61 Will let you know once it's done!

Could we make sure these manual ticket entries are given a special GitHub label? It's likely we'll have to massage the values a bit to make sure they match what we set up for the proposals submitted via the MozFe

[2016-06-10 04:14] mmmavis commented on #62
11 GitHub tickets have been manually entered: https://github.com/MozillaFoundation/mozfest-program-2016/issues. @cadecairos I've created & shared a spreadsheet with you (check your inbox for invitation 😉)

[2016-06-10 11:31] #46 closed

[2016-06-10 11:32] #42 closed

[2016-06-10 11:32] #41 closed

[2016-06-10 11:32] #40 closed

[2016-06-10 11:32] #39 closed

[2016-06-10 11:32] #38 closed

[2016-06-10 11:32] #37 closed

[2016-06-10 16:23] edrushka commented on #63
Good idea! It didn't occur to me that people might directly add sessions to Github. For copy, how about:

Please do not submit session proposals directly through Github. Instead, submit your session through the [Call For Proposals form](https://mozillafestival.org/proposals).

If you submit your session directly though Github it will not receive the unique identifiers required for the curation pro

[2016-06-10 17:06] Saallen commented on #63
Beauuuutiful 🐻

[2016-06-10 17:23] Saallen commented on #60
Sure, what are you thinking of as a word to highlight these? I was going to label them with the spaces but also the language they are submitted in as the localisation team .

[2016-06-10 17:43] Saallen commented on #24
@lovegushwa HI
This was a tate request- we can chat to luca next week

[2016-06-10 17:55] cadecairos commented on #62
@mmmavis All 11 emails have been sent!

:tada:

[2016-06-10 17:55] #62 closed

[2016-06-10 17:58] cadecairos commented on #62
For future reference, this was easy to do using this simple script: https://gist.github.com/cadecairos/f6999c51f6cbe81d7fd8500847dc046d

I took the data in the spreadsheet, modified the column titles to match the expected inputs for the email template, converted it to JSON and ran it through that script (with all the right ENV secrets in place)

[2016-06-10 18:01] mmmavis commented on #62
RAD 👍 🎉 🚀

[2016-06-10 18:06] edrushka commented on #62
You two are the best. THANK YOU!

[2016-06-10 19:46] mmmavis commented on #12
fringe page is upppppp https://mozillafestival.org/fringe 🆙

[2016-06-10 19:47] mmmavis commented on #12
Let me know if there's any tweak you want me to add. Otherwise feel free to close this tickettt YAY

[2016-06-10 21:43] #63 closed

[2016-06-10 21:43] mmmavis commented on #63
DONE

[2016-06-13 13:05] Saallen opened #64 "Image and text for Mobile site"
Hey @mmmavis & @edrushka
I gave our URL to a friend today for testing with a beacon on a mobile.
When I shared the mozillafestival.org URL the picture that comes up is the 2015 cover with " arrive with an idea leave with a community. The year is correct as seen from the image
![magnet](https://cloud.githubusercontent.com/assets/10194015/16008419/d752424c-316f-11e6-99be-5b68ba541268.png)

Can we up

[2016-06-20 17:21] mmmavis commented on #64
nice catch! working on the fix now 🚀

[2016-06-21 14:11] Saallen commented on #57
@edrushka its good just having the price beside the ticket name and description- thanks

[2016-06-21 19:18] mmmavis commented on #64
Fix is in! Will take a while for it to update on the Webbb

[2016-06-21 19:18] #64 closed

[2016-06-24 13:53] KevZawacki opened #65 "Revist Fuel The Movement Space description"
@shaghdoosti asked we rewrite it to be a bit less wonky, and bit more copyright-centric.

First draft below. @Melechuga, thoughts?

--

Should imagination be regulated? Should makers and artists in the European Union have to obey drastic copyright laws?

If you think the answer is "no!" then the open internet movement — and Fuel The Movement Space — needs you!

We believe intellectual property rig

[2016-06-24 14:29] Melechuga commented on #65
Thanks for kicking this off, @KevZawacki! I love the questions up front; I wonder if, given today's Brexit insanity, it wouldn't be a bad idea to tone down the "EU" bit in the blurb? How about:

Should imagination be regulated? Should makers and artists have to obey draconian laws?

If you think the answer is "no!" then the open internet movement — and Fuel The Movement Space — needs you!

We beli

[2016-06-24 14:38] KevZawacki commented on #65
@Melechuga Awesome. Do we need sign off from anyone else? Or, should I ping Sarah and Erika to set these changes in motion?

[2016-06-24 14:45] Melechuga commented on #65
Let's ping @shaghdoosti and see what she thinks.

[2016-06-29 18:02] Saallen opened #66 "Changing label colours"
Hello @mmmavis
Are you gravy with me changing the colours of the space labels?
Currently they are all the same colour and this is confusing some wranglers?

Also I noticed that ppl are asking about travel stipend requests being highlighted.
Is there a way later in AUg to tag the issues that request travel assistance as per their response to the call form?
cc @edrushka

[2016-06-29 22:29] mmmavis commented on #66
@Saallen

Yup feel free to change the colours! Just make sure that the label text stay unchanged! 👌

[2016-06-29 22:36] mmmavis commented on #66
@Saallen

I'd suggest changing the exporting script soon so that travel stipend is highlighted for **future** proposal submissions. Since we only have ~40 submitted proposals now, I can manually update them on the program repo (we should tackle this early before the number grows 👀). How do you wanna highlight those proposals? Include a meta to the ticket description? Apply a specific label? Or?

[2016-06-30 10:21] Saallen opened #67 "2015 website home page"
Hey @edrushka
The home page for 2015 says " 2016 dates coming soon" can we get this updated with prehapes a link to the this years website-
It could be best to let this website exist on its own and make no reference to 2016- as per older versions of the site

[2016-06-30 10:21] Saallen commented on #67
![screen shot 2016-06-30 at 11 19 54](https://cloud.githubusercontent.com/assets/10194015/16485088/d6805fc8-3eb4-11e6-80ea-26144a8dc701.png)

[2016-06-30 10:26] Saallen commented on #66
I think having a label for those requesting stipends
So those with the response travel-only get a label called  " Stipend requested"

Thanks @mmmavis I should of had spotted this earlier

[2016-07-01 05:07] mmmavis commented on #66
`Stipend requested` label has been added. Sample ticket looks like this: https://github.com/MozillaFoundation/mozfest-program-2016/issues/52 (feel free to change the colour of the label 😉 )

[2016-07-01 05:31] mmmavis commented on #66
DONE 👯 👯 👯 👯 👯

[2016-07-01 05:31] #66 closed

[2016-07-01 11:56] Saallen commented on #66
Whoop 🌈 thanks !

[2016-07-04 16:06] Saallen opened #68 "Moz Ex- sharing the call"
Hey @mmmavis and @edrushka

The Tate and the VnA are having difficulties sharing their calls on their websites-
This is their issue
"However, we also would like to put something up on the Tate website to help us push the call and make it more open - we are struggling to link to the MozFest call, mainly because it is not very clear what MozEx is when you go straight to the Submission page on the Mo

[2016-07-04 16:08] Saallen opened #69 "Mozfest.org leading ppl astray"
Hey @edrushka
I keep getting pinged from folks about the fact that mozfest.org is leading ppl to mozfest 2015 website.

apart from telling these folks to clear their cashe is there another solution to helpo allivate this confusion?

😕

[2016-07-04 18:00] edrushka commented on #68
Hmmm....losing all the info from the first page of the form seems like a decision that could bite us in the butt later.

I'd prefer creating a one-page form for them if we can export the data into the spreadsheet/github process without breaking the current system.

@mmmavis what do you think?

[2016-07-04 18:18] edrushka commented on #69
cc @cadecairos

It works fine for me, and I had Mavis check it out as well. Anything we can do for people?

[2016-07-06 13:10] Saallen commented on #68
Hey @edrushka @mmmavis
Since we are just under 4 weeks from closing the call and the tate need to action this today I am going to make a one page form this this newsletter- the form will mirror our own submission process.
If we need to change this later in the week we can

[2016-07-06 13:12] Saallen opened #70 "Intruder alert!"
Hey @mmmavis
just saw this- Is there a way we can block anyone else finding this link?
![screen shot 2016-07-06 at 14 11 28](https://cloud.githubusercontent.com/assets/10194015/16618897/9fe88aac-4383-11e6-9dd4-f10ce2ab4f9d.png)

[2016-07-06 13:15] Saallen commented on #70
I changed the access to this form specifically to those within mozilla.
I am right in saying this is not the form we currently use as our master?

I removed the note 😌

[2016-07-06 17:05] edrushka commented on #68
This looks good - love the zine background! 🎨

For the section 'Is there another space you believe this exhibit could be shown within?' it needs a link to the Spaces page so people can read more about the additional spaces.

Also for that section, if you chose some spaces it will submit the form and not take you to the next section - was that intentional?

[2016-07-06 17:58] Saallen commented on #68
Hey
Good catch- does the choosing of the space not lead to t&cs?

[2016-07-06 17:59] Saallen commented on #68
I am finding it hard to link out to the website- its looks pretty fugly..

[2016-07-06 18:39] edrushka commented on #68
I know - I couldn't figure it out either. Maybe create a shortlink for the Spaces page and edit that question to read:  'Is there another space you believe this exhibit could be shown within? Read more about the other spaces here: shortlink'

[2016-07-07 17:39] mmmavis commented on #70
this is the first time i saw this form 😁  @ScottDowne could you help answer @Saallen's question above?

[2016-07-07 19:47] mmmavis commented on #68
Hi @Saallen and @edrushka ! I was on PTO Tuesday and Wednesday. Anything I can help here? 😄

[2016-07-13 15:03] kailan commented on #70
https://github.com/MozillaFoundation/2016.Mozillafestival.org/issues/29
^ It was the link here 😆

I would have tagged someone from moz but wasn't sure if the form was actually being used – glad it got noticed.

[2016-07-13 15:06] Saallen commented on #70
Haha @kblanks this version of the form was not linked to the website or curation process- but thanks for highlighting
S

[2016-07-14 13:08] marcwalsh opened #71 "Undefined Space when choosing Two Cities under MozEx."
Hello!

Whenever I've been uploading proposals using the call for proposals form and it's a piece that is going into the Moz Exhibition and I've selected 'A Tale of Two Cities' as the space on the second page, it appears on GitHub as an undefined space.

[2016-07-15 00:47] mmmavis commented on #71
Hi @marcwalsh , thanks for reporting it! This should be fixed now! 💃

[2016-07-15 00:47] #71 closed

[2016-07-15 19:16] mmmavis commented on #57
DONE! https://mozillafestival.org/tickets 👯 👯

[2016-07-15 19:16] #57 closed

[2016-07-18 10:55] Saallen commented on #57
Thanks @mmmavis 🎆

[2016-07-19 19:16] Melechuga commented on #65
@KevZawacki I've reworded the RFP with Raegan; would love your thoughts. If possible, I think we should push this through asap, as the current wording doesn't reflect the narrative we're using in the campaign + Maker Party.

"Who do you think should create culture? How do we build a movement to encourage creativity and imagination? If these questions keep you up at night, the open internet movemen

[2016-07-20 20:46] KevZawacki commented on #65
@Melechuga This is great! Small suggested edit below:

" [...] We're bringing people together to talk about **how current copyright laws aren't equipped for the internet age** [...]"

Question for @edrushka -- what's the best way to get this updated copy on the website? Should I open a ticket and ping [which developer]?

[2016-07-20 21:01] Melechuga commented on #65
@KevZawacki Awesome! Thanks for taking a look. That line about "...in the spirit of...) is pulled from the campaign brief, so if we're going a different direction with "equipped" I'm happy with that. Just aiming for messaging uniformity across our many "copyright" activities. (^.^)

[2016-07-21 17:27] mmmavis commented on #65
@KevZawacki I can help get the updated copy on the site. Just let me know what the copy is! 👍

just wanted to double check - we are talking about the description on https://mozillafestival.org/spaces-and-sessions, right?

[2016-07-21 17:35] Melechuga commented on #65
Hi @mmmavis -- Thanks! Yes, this is the copy for the space description for Fuel the Movement:

Who do you think should create culture? How do we build a movement to encourage creativity and imagination? If these questions keep you up at night, the open internet movement — and Fuel The Movement Space — needs you!

We're bringing people together to talk about how current copyright laws aren't equipp

[2016-07-21 19:09] KevZawacki commented on #65
Woohoo! Thanks, @mmmavis. :-)

On Thu, Jul 21, 2016 at 1:35 PM, Melissa Romaine notifications@github.com
wrote:

##

Kevin Zawacki
Communications Manager, Mozilla Foundation
(914) 837-4333 // skype: kevzawacki

[2016-07-21 23:49] mmmavis commented on #65
Done 🍻 https://mozillafestival.org/spaces-and-sessions

[2016-07-21 23:49] #65 closed

[2016-07-22 15:40] marcwalsh opened #72 "Translations for non-English submissions"
Hey everyone,

Just a quick question that was brought up on the programme repo.

Is it worth adding a translated version of non-english submissions as a comment. Bit of an out-there question but is there a way to do this automatically, or would it need to be whenever I add a submission that I need to just translate it myself using Google or something similar?

[2016-07-25 13:52] marcwalsh-zz commented on #69
Just seen this as an open issue. I tried it for myself and I'm being directed 2015.mozillafestival.org and I've cleared my cache etc.

[2016-07-25 14:30] cadecairos commented on #69
I just double checked the settings for mozfest.org and www.mozfest.org in AWS, and it's all configured to redirect to the right place.

I don't think people are hitting a browser cache issue. It's more likely a DNS cache in their operating system or a stale DNS cache from their ISP.

That said, this configuration has been in place for weeks now...

[2016-07-26 04:39] edrushka commented on #69
@cadecairos is there anything we can do? This is really problematic as the information and links are completely different for this year's festival. We have our call for proposals open now, and if people are hitting the 2015 page and try to submit a session, they will get an error message.

[2016-07-26 14:45] cadecairos commented on #69
There's nothing more we can do on our end beyond completely replacing the 2015 site with a redirect.

[2016-07-26 15:34] edrushka commented on #69
Is that simple to do? I have no idea about the amount of work that entails.

[2016-07-26 15:36] cadecairos commented on #69
It's pretty simple, 30 minutes work to get in place

[2016-07-26 15:39] edrushka commented on #69
I think we should go ahead and do this. It's highly problematic for people to be seeing the wrong year. Is this something Mavis can do or does it fall to you, Chris?

[2016-07-26 16:24] cadecairos commented on #69
I'll have to take care of it, the work all happens in Amazon Web Services

[2016-07-26 17:24] edrushka commented on #69
Thanks Chris! 🌵  <-- cactus of gratitude. Let me know if you want me to file a ticket in your devops repo.

[2016-07-26 17:33] cadecairos commented on #69
haha! Yes, please file a ticket here https://github.com/mozillafoundation/mofo-devops/issues/new

[2016-07-26 18:33] Saallen opened #73 "Fringe events not loading"
Helllo @mmmavis
I just uploaded a fringe event via the website 4 hours again and then approved on the spreadsheet
https://docs.google.com/spreadsheets/d/10IecT0M6d28MREgGGHscyy87RliCbTQQVy8IeRILUBc/edit#gid=1651772276

However it is not appearing  on the website...I am not sure if I broke the voodoo magic...Can you have a look when you get some time? I prepped a tweet to celebrate this awesome pag

[2016-07-26 21:52] mmmavis commented on #73
Hey @Saallen , if anything it shouldn't be you who broke the voodoo magic... it would be the voodoo magic itself being not powerful enough 😉

This is what I'm seeing on the MozFest site
<img width="459" alt="screen shot 2016-07-26 at 2 48 21 pm" src="https://cloud.githubusercontent.com/assets/2896608/17156704/08dc2cb4-5340-11e6-88cf-7f713a3138ef.png">

... which match the 3 approved events on the

[2016-07-27 00:38] Saallen commented on #73
Hi @mmmavis this is great- I obviously was not patient enough 🕐
Thanks  🍊

[2016-07-27 00:38] #73 closed

[2016-07-27 16:45] edrushka commented on #69
Chris fixed this with a redirect in https://github.com/MozillaFoundation/mofo-devops/issues/376

THANKS!

[2016-07-27 16:45] #69 closed

[2016-07-27 22:10] mmmavis commented on #60
@Saallen is the deadline for submitting proposal early August? Will there be more proposals coming in after we take down the form from the MozFest site?

[2016-07-28 01:43] Saallen commented on #60
Helloooooo @mmmavis  🍊
We will be closing this form on 18:00pm PST Monday the 1st of Aug-
I can ask @marcwalsh  to coordinate.

[2016-07-28 12:10] marcwalsh-zz commented on #60
Hey @mmmavis

There will still be some more coming in after the 1st from our partners etc. It would be good to leave the form live if possible as it makes it a lot easier for me when I'm adding in other languages and just remove links to the form from the website.

[2016-07-28 14:58] edrushka commented on #60
@mmmavis Marc or I will file a couple tickets for you on this. One to change the 'submit a proposal' cta from the site, and the second to change the link of the form (keeping it live) so our partners can add last-minute sessions over the next week or two.

[2016-07-29 01:23] mmmavis commented on #60
@marcwalsh @edrushka okie dokie!

Just a note - for proposals submitted directly using the Google form (vs via MozFest site) they won't automatically show up on the [2016 program repo](https://github.com/MozillaFoundation/mozfest-program-2016). We'll have to either manually enter them in (I will provide instructions) OR write a different script to do the job for us.

[2016-07-29 04:46] Saallen commented on #60
poop! @mmmavis would you be against people addin them  directly to github with a template?

[2016-07-29 16:55] edrushka commented on #60
Confirming that the schedule app will populate from the spreadsheet and not GH, correct? I feel very nervous about letting people manually enter data that we'll need for the schedule to display properly.

[2016-07-29 17:07] mmmavis commented on #60
@Saallen @edrushka 🌻

Adding proposals directly to Github is probably not a good idea. Spreadsheet should always be the primary source of data... and it can protect personal data as well.

I'd say after August 1st we ask our partners etc to submit proposals using the Google Form (not via MozFest site). We can decide how we want to file Github tickets for those proposals submitted after Aug 1st (as

[2016-07-29 17:31] edrushka commented on #60
Sounds good. If any manual entry has to be done, I'd prefer it'd be done by us. A batch export script sounds ideal, though. Maybe we could run it every day or two for the first week, and then weekly?

[2016-07-29 18:32] Saallen commented on #60
Hey
I imagine the bulk will be in the first two weeks, then it will defo pitter
off. So Batch export script would be great to help here if possible

Sarah Allen

Events Manager and Mozilla Festival Producer
Mozilla Foundation

Find out more about MozFest https://mozillafestival.org/ and follow the
conversation on twitter https://twitter.com/mozillafestival?lang=en-gb

On 29 July 2016 at 18:31, Eri

[2016-07-31 15:54] edrushka opened #74 "Change URL for submission form"
Once the call for proposals closes, we need a non-public way for space wranglers and staff to add last minute submissions.

Can you change the URL of the form? https://mozillafestival.org/proposals

Call for Proposals closes end of day August 1.

cc @mmmavis @Saallen

[2016-07-31 16:13] edrushka opened #75 "Change CTA on MozFest homepage"
The current CTA on the MozFest site reads:

_Submit a Session for MozFest 2016_

_We invite people from all fields: policy, science, journalism, technology, arts and more. MozFest is for everyone, regardless of your gender, geography, age or language._

_Submit a Session_

**Please change to:**

Buy a Ticket for MozFest 2016

Join leaders of the open Web -- artists, activists, educators, scientist

[2016-07-31 16:19] edrushka opened #76 "Remove 'call for proposals' links on site"
Seek and destroy all CFP links 💣

1) Remove 'Call for Proposals' link in header nav bar

2) Remove the line "Have a great session idea? Head to the MozFest Call for Proposals page." for all entries on the [Sessions and Spaces page] (https://mozillafestival.org/spaces-and-sessions). The last 3 entries have the line worked into a paragraph. Please remove the entire paragraph.

3) CTA on landing page

[2016-07-31 16:34] edrushka commented on #72
Yes. Ali and I discussed and we built this into the L10N plan. Basically everything will be done through comments on Github. We just need to tag the localizer so they see it if we've written a question.

[2016-07-31 16:39] #21 closed

[2016-07-31 16:39] #22 closed

[2016-07-31 16:39] #23 closed

[2016-07-31 16:39] #24 closed

[2016-07-31 16:39] #28 closed

[2016-07-31 16:39] #29 closed

[2016-07-31 16:39] #32 closed

[2016-07-31 16:39] #33 closed

[2016-07-31 16:39] #36 closed

[2016-07-31 16:39] #43 closed

[2016-07-31 16:39] #44 closed

[2016-07-31 16:39] #45 closed

[2016-07-31 16:39] #48 closed

[2016-07-31 16:40] #2 closed

[2016-07-31 16:40] #12 closed

[2016-07-31 16:40] #20 closed

[2016-07-31 16:46] edrushka commented on #60
Ticket has been filed here:

Change URL for submission form #74

Let's continue any conversations there. I'm going to close this one for now, as it was originally about something else.

[2016-07-31 16:46] #60 closed

[2016-07-31 16:48] edrushka commented on #67
The 2015 site now redirects to 2016 as discussed in https://github.com/MozillaFoundation/2016.Mozillafestival.org/issues/69#issuecomment-235343949 so no one should be seeing it anymore.

[2016-07-31 16:48] #67 closed

[2016-07-31 16:49] #68 closed

[2016-07-31 16:50] #16 closed

[2016-07-31 16:50] #17 closed

[2016-07-31 16:50] #56 closed

[2016-08-01 10:07] marcwalsh-zz commented on #72
Awesome! Makes sense, thank you! 👍

[2016-08-01 10:07] #72 closed

[2016-08-01 13:30] marcwalsh opened #77 "GitHub displaying Arabic in LTR not RTL"
Heya

Just had a comment through from one of the facilitators, and I've had a double check as well. It seems as through when the sessions appear on GitHub in Arabic, the Arabic parts appear as LTR.

Not sure if this is because it's mixed with English text so everything is just shown in LTR or even if there's anything we can do to change it without messing up @mmmavis creation!

Cheers :),

[2016-08-01 15:11] alanmoo commented on #74
The irony being that since we're on github, technically there is no non-public way to hide it 😁

[2016-08-01 15:49] Saallen commented on #74
Wide open!
We just want to close the open Call on time but always have a few last
minute requests via email.
It is always easier to add via a form rather than directly to github than
mess it's mojo.

I will close the other language forms and the additional mozex at 9pm UTc.
560 submissions so far and counting....fingers crossed for 600

On 1 Aug 2016 4:11 p.m., "Alan Mooiman" notifications@github.

[2016-08-01 17:43] #74 closed

[2016-08-01 17:50] alanmoo commented on #74
This is on staging. New route will be `/late-proposals`

(I'll deploy it to production at 21:00UTC)

[2016-08-01 18:22] edrushka commented on #74
👍 🙇

[2016-08-01 20:09] Saallen commented on #76
Just closed the follow forms
- [x] Call for Arabic proposals
- [x] Call for Spanish proposals
- [x] Call for French proposals

🙇

Just waiting on main form to change URL and some text edits on the main website 💣

[2016-08-01 20:10] alanmoo commented on #76
There's another 50 minutes till 21:00UTC...

[2016-08-01 20:13] Saallen commented on #76
PANTS!
Why do I always mix up UTC and CET, thinking they are the same thing....
All open again- thanks @alanmoo 👍

[2016-08-01 21:06] alanmoo commented on #76
I've deployed these changes to production, they'll kick in as the CDN propagates.

[2016-08-01 21:06] #76 closed

[2016-08-01 21:07] alanmoo commented on #75
Deployed to production, will propagate as CDN updates.

[2016-08-01 21:07] #75 closed

[2016-08-02 09:46] Saallen commented on #77
This is something we thought about for the form but never for the github repo- thanks @marcwalsh

[2016-08-08 16:10] edrushka commented on #35
Wranglers each have:
- photo
- bio
- twitter handle

(Possible) additional Friends & Allies page:
- space wranglers (link back to Spaces & Sessions page)
- companies e.g. EPIK, Tate, Arts Award (who give their employees time/permission to participate)
- sponsors
- Participation contributors
- MozFest volunteers
- list of facilitator names with locations - can we do this on a map? there will be aro

[2016-08-08 16:27] edrushka opened #78 "Make changes to timings on 'what to expect page'"
On the [What the expect] (https://mozillafestival.org/expect) page, for the 'Weekend Outline' section, we need to change a few timings:

Friday (no change)
Saturday:
- change 9:00 to "Welcome & Opening"
- change "Morning sessions begin" time to 10:00
- change the 17:30 entry to "18:00 Evening activities begin"

Sunday:
- change 10:00 to "Welcome & Opening"
- change "Morning sessions begin" time to

[2016-08-09 22:09] #78 closed

[2016-08-22 19:05] edrushka commented on #35
@Saallen We need to scale back the scope of Friends and Allies acknowledgements based on design constraints and other priorities for the website. A standalone page won't meet the revised goals for the website that emerged after our meeting with Mark.

I propose we find a way to incorporate sponsor/partner logos elsewhere on the site.

[2016-08-23 20:28] edrushka commented on #35
Additional ideas for acknowledging people beyond the site, via Claw:
- schedule a series of thank you tweets
- dedicated Medium post listing our Friends and Allies
- Live LED display at the festival
- Printed material at the festival

[2016-08-25 21:56] edrushka opened #79 "Add linked text on Tickets page"
We've been hearing that it's not clear the ticket buttons are what you need to press to buy tickets on https://mozillafestival.org/tickets

At the end of both the youth and adult ticket description paragraphs, please add a line that says "Buy a youth ticket."/"Buy an adult ticket." that links to the youth/adult ticket page.

cc @marcwalsh

[2016-08-26 13:33] alanmoo commented on #79
Clicking those "tickets" at the top doesn't bring you to a new page. Should clicking these new "links" make the same popover appear? Or is there a proper tito link I can use?

(@mmmavis, can you shed some light on how the popover is happening? Is that tito script doing some sort of magic? I'm concerned that adding an extra link to that paragraph isn't going to be as easy as it should be.)

[2016-08-26 13:47] alanmoo commented on #79
(Note that it would be extremely trivial to update the text on the existing links, so they have a clear CTA- "Buy Adult" or "Buy Adult Ticket")

[2016-08-26 22:47] mmmavis commented on #79
@alanmoo yay tito script is def doing magic. I'm thinking maybe we can mock what we are doing for creating the red ticket buttons: https://github.com/mozilla/mozillafestival.org/blob/3e1aa668bd2b4ea1a9c35c336c52d507b50b6737/pages/tickets.jsx#L9-L18 We can just tweak the stylings so that "Buy a youth ticket."/"Buy an adult ticket." appear like regular text links (not button looking).

[2016-08-29 14:05] alanmoo commented on #79
Thanks for that guidance, @mmmavis. I'll take a look at it now and see what I can do.

[2016-08-29 14:37] alanmoo commented on #79
A UX thought: if someone is buying a child's ticket, aren't they probably also in need of an adult ticket? Seems odd to force two different transactions. Would it be better to link to https://ti.to/Mozilla/mozfest-2016/ and let them choose?

(After playing around with it more, adding those links at the end of the paragraph really doesn't feel like the right solution, especially considering the amo

[2016-08-29 14:52] alanmoo commented on #79
@edrushka thoughts?

[2016-08-29 18:26] edrushka commented on #79
Confirming that I understand correctly:  both the youth and adult ticket description paragraphs would have a linked sentence that reads "Buy a youth ticket."/"Buy an adult ticket." that would link to https://ti.to/Mozilla/mozfest-2016/

This works for me.

[2016-08-29 20:28] #79 closed

[2016-08-29 23:36] edrushka commented on #35
Closing, as this will not be a separate page.

[2016-08-29 23:36] #35 closed

[2016-08-29 23:37] #70 closed

[2016-08-29 23:39] edrushka commented on #77
Closing this, and noting that this issue is also being discussed for the schedule app (see https://github.com/mozilla/schedule-app-core/issues/260 )

[2016-08-29 23:39] #77 closed

[2016-08-29 23:40] edrushka commented on #30
Closing. Not a priority fix at the moment.

[2016-08-29 23:40] #30 closed

[2016-08-29 23:42] edrushka opened #80 "Write new copy for landing page"
There are two banners that need updating:

1) Info banner
The world’s leading event for and by the open Internet movement.
Join us to build, debate, and explore the future of our lives online.

2) CTA banner
Buy a Ticket for MozFest 2016
Join leaders of the open Web -- artists, activists, educators, scientists, journalists, policy-makers and technologists -- who are building a better internet.

[2016-08-29 23:43] edrushka commented on #80
Time booked on Sept 6 with Paul and Kevin to update this copy.

[2016-08-29 23:55] edrushka opened #81 "Design updates to landing page"
Replace seated crowd shot currently on https://mozillafestival.org/ with something more active and representative of the network. It doesn't necessarily have to be a photo.

Colour should reference the neon palette from the [2016 Style Guide] (https://github.com/MozillaFoundation/Mozfest2016_production/issues/76).

[2016-08-30 00:03] edrushka opened #82 "Review new design elements for use on site"
When the 2016 Style Guide is complete, see if there are any elements (e.g. textures, backgrounds, colours) we could add to the landing page in mid-September.

[2016-08-30 00:06] edrushka opened #83 "Add Marc's photo and bio to Team page"
Marc, can you please submit your photo and bio for the [Festival Team page] (https://mozillafestival.org/team). Please keep to the shorter wordcount. Thanks!

[2016-08-30 09:31] marcwalsh-zz commented on #83
See below!

Marc Walsh is the Production Coordinator for MozFest 2016.  His work focuses around large scale events and television production having previously worked on Glastonbury Festival, The FA Cup and the National Television Awards. This is Marc's third year working with Mozilla on the festival after having been a Ravensbourne volunteer for two years before that.

![Photo is here!](https://cl

[2016-08-30 19:42] edrushka commented on #83
How's this @marcwalsh?

Marc Walsh is the Production Coordinator for MozFest 2016.  His brings valuable experience in large-scale event and television production, having previously worked on Glastonbury Festival, the FA Cup and the National Television Awards. A volunteer for his first two years, this is Marc's fifth MozFest.

[2016-08-31 00:04] hannahkane commented on #83
Adding @alanmoo as an assignee to get this up on the site as soon as is reasonable.

[2016-08-31 00:28] edrushka opened #84 "Update banner image"
Update banner image selected in #81

[2016-08-31 00:35] edrushka opened #85 "Add link(s) to Github"
When curation is complete and people who proposed have been notified (week of Sept 12-16), we need to add link(s) to the [Sessions and Spaces] (https://mozillafestival.org/spaces-and-sessions) page.

@Saallen how did we do this last year?

One way we could approach it is to
a) add a link at the end of the Spaces and Sessions paragraph at the top that reads:
See All Sessions here (with a link to al

[2016-08-31 00:44] edrushka opened #86 "Update Spaces & Sessions page with bios"
We are collecting the space wrangler bios (text and photo) in https://github.com/MozillaFoundation/Mozfest2016_production/issues/56

During the second week of the Sept 16 heartbeat, we can add whatever bios have been submitted to the right hand column of the [Spaces and Sessions] (https://mozillafestival.org/spaces-and-sessions) page.

I can't see what we did last year because the 2015 site has a

[2016-08-31 09:07] Saallen commented on #86
In 2015 we had names and twitter handles
in 2014 we had bios and redirects - which i think is a better format for celebrating these folks

We have never had photos before so this is 🏆

[2016-08-31 09:10] Saallen commented on #85
in 2015 we linked to the github page.
In 2016 I think we do the same but add a note when the schedule will be ready.
Pushing people to a github page to see what sessions they can attend is not a great way to share and I dont think a fair way to raise the profile of a session. Lets just do one link but chat about when we think we can have the schedule up

[2016-08-31 10:45] marcwalsh-zz commented on #83
Looks good just made one correction but the below is good to go! :) Thanks @edrushka

Marc Walsh is the Production Coordinator for MozFest 2016. He brings valuable experience in large-scale event and television production, having previously worked on Glastonbury Festival, the FA Cup and the National Television Awards. A volunteer for his first two years, this is Marc's fifth MozFest.

[2016-08-31 16:38] edrushka commented on #86
@Saallen Where did the redirects go in 2014?  Do you want this again this year i.e. their name links to their blog/twitter and bio and photo are underneath?

@alanmoo do you need design help if we've never used photos before?

[2016-08-31 21:40] edrushka commented on #85
The schedule will likely be live a week or so before the event, and we will link to it from the top nav. This solution doesn't replace linking to the final schedule, but instead provides some details on sessions before the schedule is ready.

I'm going to argue for keeping both a) and b) in my suggestion above 😄  I think a 'see all sessions' supported by 'see session in this space' actually offers

[2016-08-31 22:23] edrushka opened #87 "Add Kevin's photo and bio to the Team page"
@KevZawacki, we would love to include you on the MozFest team page 😄

Can you please submit a photo and short bio? See other examples [here] (https://mozillafestival.org/team) - please keep to the shorter wordcount. Thanks!

@Saallen can you please confirm what Kev's title should be? cc @HPaulJohnson

[2016-08-31 23:45] KevZawacki commented on #87
Oh, my... I'm flattered!

Perhaps:

Kevin Zawacki
Communications Manager

Kevin Zawacki is Communications Manager for the Mozilla Foundation, and has a background in journalism and public relations. As a member of the MozFest team, Kevin works on copy writing, media relations, and main stage production. 2016 will be Kevin's third MozFest.

![13900073_10100990018991080_9154886712106571191_n](https:

[2016-09-01 09:52] Saallen commented on #87
@KevZawacki While I love the handsome photo your bio says nothing about D&D
I think you need a strong sentence that celebrates your awesome work on coordinating that space....suggestion below

Kevin Zawacki is Communications Manager for the Mozilla Foundation, and has a background in journalism and public relations.  Kevin brings his magic to copy writing, media relations and this year is the mast

[2016-09-01 11:41] KevZawacki commented on #87
@Saallen Perfect 👍

[2016-09-01 13:43] alanmoo commented on #86
Yeah, that space is a bit narrow as is, so some design guidance would be useful.

[2016-09-01 15:01] edrushka commented on #86
cc @hannahkane an additional bit of design work needed here. Please assign to Sabrina, if appropriate, for next heartbeat.

[2016-09-01 16:00] Saallen commented on #85
I like it 👍

[2016-09-06 21:25] edrushka commented on #82
@sabrina do you have any recommendations here?

[2016-09-06 21:26] edrushka commented on #82
@sabrinang do you have any recommendations here?

[2016-09-06 21:28] edrushka commented on #82
@sabrinang do you have any recommendations here?

[2016-09-06 21:29] edrushka commented on #82
@sabrinang do you have any recommendations here?

[2016-09-06 21:37] edrushka commented on #86
Here are the bios (second tab): https://docs.google.com/spreadsheets/d/100wmCld-YGysLHCpzYgovwctJkezPqQgFcOJ65mjyUk/edit#gid=1306798567

Photos are linked from here, but are also available in this drive folder: https://drive.google.com/open?id=0B4rEOP1A0tc0YkVSeUpfVjZ0a0E

[2016-09-06 21:40] alanmoo commented on #82
_takes away @edrushka's coffee_

[2016-09-06 21:44] edrushka commented on #81
Here is the copy: https://public.etherpad-mozilla.org/p/mozfestcopy

[2016-09-06 21:50] alanmoo opened #88 ""tickets sold out" updates"
Blocked by #81.

Create a PR so that when tickets do sell out, this is easy to merge.

[2016-09-06 22:00] edrushka commented on #81
Please mock up landing page with
- new copy and image for main banner (copy in pad above)
- new copy for CTA section (copy in pad above)

We'll get signoff on your design before we send to Alan for implementation.

[2016-09-06 22:15] edrushka commented on #85
@alanmoo Here's a summary of the discussion above:

1) add a link at the end of the Spaces and Sessions paragraph at the top that reads:
The schedule for MozFest will be published in mid-October. Until then, [see all sessions here](https://github.com/MozillaFoundation/mozfest-program-2016/issues?q=is%3Aopen+is%3Aissue+milestone%3A%22Session+accepted%22).

2) Add a line to the end of each space des

[2016-09-06 22:21] edrushka commented on #82
Sorry - GH wasn't responding so I just kept pressing 'comment' 😆

[2016-09-06 22:44] alanmoo commented on #88
Hmm, #81 is for something else. @edrushka @kristinashu what's the ticket for design of the "tickets sold out" update?

[2016-09-06 22:49] kristinashu commented on #81
This will include:
- new banner background image (few options)
- make video button more obviously a button
- update banner copy
- update CTA section copy
- remove 'buy ticket' button

[2016-09-06 22:54] kristinashu commented on #88
I've updated https://github.com/MozillaFoundation/2016.Mozillafestival.org/issues/81 to be more reflective of what the changes will be. From what I gather, once tickets are sold out we just don't link to it anymore.

[2016-09-06 22:54] alanmoo commented on #86
@kristinashu I'm unassigning myself for now, toss it to me when design is ready?

[2016-09-07 22:02] alanmoo commented on #84
Same here, assign me when it's ready @kristinashu.

[2016-09-07 23:23] kristinashu commented on #86
I'm thinking we can reuse the light box from the [ticket page](https://mozillafestival.org/tickets)
<img width="941" alt="screen shot 2016-09-07 at 4 18 22 pm" src="https://cloud.githubusercontent.com/assets/1068783/18331850/c23ccdf6-7516-11e6-9aca-92e473f14a26.png">

We would update wrangler names on the Spaces & Sessions page to be links. If a user clicks on a wrangler's name then a light box op

[2016-09-08 00:53] alanmoo commented on #86
I think Tito is creating that light box, so it's not something we easily have access to. Correct me if I'm wrong, @mmmavis?

[2016-09-08 03:28] mmmavis commented on #86
@alanmoo yes i think lightbox is part of the Tito magic

[2016-09-08 05:35] #85 closed

[2016-09-08 05:36] #83 closed

[2016-09-08 10:39] Saallen commented on #87
Media mogul?
Comms Mogul?
Comms wrangler?
Comms Manager- but this doesn't encompass the D&D space...
Anyone got suggestions?

[2016-09-08 12:26] KevZawacki commented on #87
@Saallen Comms Manager & Speaker Series Designer?

[2016-09-08 13:00] Saallen commented on #87
Sure-

Sarah Allen

Events Manager and Mozilla Festival Producer
Mozilla Foundation

Find out more about MozFest https://mozillafestival.org/ and follow the
conversation on twitter https://twitter.com/mozillafestival?lang=en-gb

On 8 September 2016 at 13:26, Kevin Zawacki notifications@github.com
wrote:

[2016-09-08 15:57] kristinashu commented on #86
@alanmoo I still think light box approach will be the most straight forward way to do this. Is there a default/example I should model the design after?

[2016-09-08 16:34] kristinashu commented on #82
We should update:
- top left logo color
- fav icon color
- footer background gradients to solid color
- title color
- link and button color
- icons (update style and color)
- photo banner treatment
- table color
- About background gradient

@sabrinang let me know if you think of anything else.

Examples:
<img width="221" alt="screen shot 2016-09-08 at 9 28 37 am" src="https://cloud.githubuserconte

[2016-09-08 16:35] kristinashu commented on #84
I'll work out of https://github.com/MozillaFoundation/2016.Mozillafestival.org/issues/81 and then file an implementation ticket once it's all approved.

[2016-09-08 16:35] #84 closed

[2016-09-08 17:24] Saallen commented on #86
Hey- I am ti.to will share their magic- I can put you in contact with them if you like?

[2016-09-08 19:00] KevZawacki opened #89 "Merge medium.com/mozfest-2016 & medium.com/mozilla-festival"
We currently have two different MozFest publications on Medium:

http://medium.com/mozfest-2016
and
https://medium.com/mozilla-festival (2015 publication)

MoCo branding has requested we merge into one single publication, with different sections for each year. I think that's a good idea, too.

It should be easy to port content from http://medium.com/mozfest-2016 to https://medium.com/mozilla-festi

[2016-09-08 21:28] edrushka commented on #89
Makes sense to me.

[2016-09-09 13:20] KevZawacki opened #90 "Secure 2-3 additional D+D speakers"
To ensure we have three robust D+D blocks at MozFest, we'll want to secure 2-3 more speakers.

Below, a list of potential candidates. @edrushka, @HPaulJohnson, @Saallen: If you have a moment, please take a quick look and offer feedback / **additional speakers**. I'll begin outreach next week.

- Dr. Safiya Noble //  academic and activist // [clip](https://safiyaunoble.com/) // Vanessa has invited

[2016-09-09 19:20] Saallen commented on #89
GOFORIT

[2016-09-10 01:40] edrushka commented on #90
👍 let me know if I can help. Great that Vanessa is assisting with the invites. Are any of these speakers London-based, or able to speak on topics specific/appealing to a London audience?

[2016-09-12 09:56] Saallen commented on #90
Hey @KevZawacki
Thanks for this great list and tough to choose just one.
Great list of speakers and quiet diverse.
Personally I am loving Safiya.
I think Sahar would be very strong especially with all our arabic localisation thread.
I would also be interested to hear more about Josef.

[2016-09-12 18:25] alanmoo commented on #87
Sorry, I'm missing some context- what are you suggesting gets changed, @Saallen and @KevZawacki? (The original ticket is now live)

[2016-09-12 19:21] alanmoo commented on #86
Thanks @Saallen, but I don't think that will help much. @gvn maybe you can help, do we have a standard modal?

[2016-09-12 19:36] gvn commented on #86
We don't have a standard modal. Honestly, modals are not great (especially in regards to mobile/responsive layouts) and should be avoided if possible, but if we must use them then we should probably add one to `mofo-ui`.

[2016-09-12 19:47] edrushka commented on #87
The job title under Kevin's name should read Comms Manager & Speaker Series Designer

[2016-09-12 20:14] kristinashu commented on #81
@edrushka @sabrinang here's what I'm thinking for the home page https://redpen.io/tce99aae1e32140127

It has the updated copy, branding and changes mentioned above. Because there is more text than before, a photograph background looks too busy so I'm using the our background pattern. Let me know what you think!

[2016-09-13 12:30] KevZawacki commented on #90
Update:

 -- Catherine Bracy is likely speaking
-- Sahar Aziz is interested; I have a phone call with her next week
-- Invite sent to Simone Brown today

@HPaulJohnson @Saallen @edrushka

[2016-09-13 14:23] KevZawacki commented on #89
Old Medium blog deleted; in the process of porting content over to Medium.com/Mozilla-Festival

[2016-09-13 14:23] #89 closed

[2016-09-13 14:26] KevZawacki opened #91 "Update Medium footer link on MozFest.org"
The "Read The Blog" footer links to a now-defunct Medium page. Can we update the link to www.medium.com/mozilla-festival?

![screen shot 2016-09-13 at 10 25 30 am](https://cloud.githubusercontent.com/assets/11045250/18477665/6b71d89c-799c-11e6-8162-ffa1a33e5b2e.png)

@alanmoo, are you able to assist with this? Thanks!

cc @edrushka @Saallen @KGorr Is there anywhere else we link to our Medium blog?

[2016-09-13 14:32] KGorr commented on #91
@KevZawacki - some old emails linked to Medium posts (and therefore 1 or 2 of the Medium posts?), but that is all that I am aware of.

[2016-09-13 14:40] KevZawacki commented on #91
@KGorr Thanks! I'll review past Medium posts for bad links.

[2016-09-13 17:03] Saallen opened #92 "Add our terms and Privacy policy to the website footer"
Hello
I got an email from legal saying our website needs to have Mozilla Terms and privacy policy added ala Teach.mozilla.org
![screen shot 2016-09-13 at 16 36 30](https://cloud.githubusercontent.com/assets/10194015/18480341/417e2098-79d0-11e6-917d-03c0fe8955f0.png)

Is this possible to fix ? cc @edrushka @KevZawacki @alanmoo
For the footer, including a link to the privacy policy is a legal requir

[2016-09-13 17:47] edrushka commented on #92
I think the only place for this is along the bottom footer, to the right of Participation Guidelines.

Terms links to: https://beta.webmaker.org/#/legal?_k=0ihind (@hannahkane can you confirm this?)
Privacy links to: https://www.mozilla.org/en-US/privacy/websites/

[2016-09-13 18:19] #91 closed

[2016-09-13 19:08] #87 closed

[2016-09-13 19:44] kristinashu commented on #86
Thanks everyone for the input. We've decided to create a new page to house all the bios.

https://redpen.io/nw70a0d8f24c9bc983
![website-wranglers 2x](https://cloud.githubusercontent.com/assets/1068783/18488191/3b6516c6-79ad-11e6-8fd9-1eefcb0deefb.jpg)

Wrangler's names on the [Space & Sessions page](https://mozillafestival.org/spaces-and-sessions) will link to the [Wrangler page](https://redpen.i

[2016-09-13 19:56] kristinashu commented on #82
Comps are here: https://redpen.io/p/nfb876a7968c868f1b
- [x] top left logo color - Blue #362FC1 and Pink #FA1BAB
- [x] fav icons - https://drive.google.com/open?id=0B2irLVDJivhLajZDNFE5UTF3T0U
- [x] footer background gradients to solid color - Blue #362FC1
- [x] title text color - Blue #362FC1
- [x] link text and button color - Pink #FA1BAB
- [x] icons (update style and color) - [Location Page](ht

[2016-09-13 20:00] edrushka commented on #86
Yaaas! The Friends and Allies dream is alive!! @kristinashu [here is the ticket](https://github.com/MozillaFoundation/2016.Mozillafestival.org/issues/35) so you can understand the additional content we might eventually add to this page as you design it.

[2016-09-13 20:18] kristinashu commented on #86
Cool, my only concern would be page length. There are 16 mocked up right now and we probably wouldn't want too many more. Mobile would start to get a little cray cray.

[2016-09-14 11:54] KevZawacki commented on #90
Simone Browne has accepted :-)

Closing this ticket.

[2016-09-14 11:54] #90 closed

[2016-09-14 16:48] kristinashu opened #93 "Update all website banner images"
Update gradient to 2016 colors and add diagonal lines. Example https://redpen.io/nw70a0d8f24c9bc983

[2016-09-14 16:52] kristinashu commented on #82
These are all done ^

@xmatthewx or @sabrinang can you please review?

Opened https://github.com/MozillaFoundation/2016.Mozillafestival.org/issues/93 for banner image production.

[2016-09-14 17:41] #92 closed

[2016-09-14 17:56] kristinashu commented on #86
@edrushka @hannahkane I just spoke with @alanmoo and here is what we are thinking:

Sounds like we need a home for:
- Space wranglers ([mocked up as a link from Spaces & Sessions page](https://redpen.io/nw70a0d8f24c9bc983))
- Sponsors (doesn't currently exist but we will need it)

We think this could be one page with tabs (using tab component and fellowship bio layout from https://science.mozilla.

[2016-09-14 18:13] kristinashu opened #94 "Implement new design elements for use on site"
Based on design work done in #82

Comps are here: https://redpen.io/p/nfb876a7968c868f1b

Updates:
- [x] top left logo (Pink and White) - https://drive.google.com/open?id=0B2irLVDJivhLOUhvRm1aRF9tZnM
- [x] fav icons (there are a bunch of sizes there, only use what you need) - https://drive.google.com/drive/folders/0B2irLVDJivhLSjhkdjUwbGZMc00?usp=sharing
- [x] footer background gradients to solid

[2016-09-14 18:17] kristinashu commented on #94
@alanmoo I'm still gathering assets but here's a summary of the general design changes (excludes Home page https://github.com/MozillaFoundation/2016.Mozillafestival.org/issues/81 and Wrangler page https://github.com/MozillaFoundation/2016.Mozillafestival.org/issues/86 which I will open separate tickets for once the design is approved).

[2016-09-14 18:34] hannahkane commented on #86
@alanmoo - can you estimate the extra dev time this solution would require?

[2016-09-14 19:09] alanmoo commented on #86
It's probably a solid day of work, maybe a little over. But I still think it'll be less work than popovers in the long run.

[2016-09-14 19:11] hannahkane commented on #86
Just flagging that this, the /Foundation page, and Gigabit page are all entering the build phase at the same time. Will think about how to spread that work out so it doesn't all fall on Alan.

@alanmoo - could you work on this page this week? definitely more important than the web lit map thing.

[2016-09-14 19:34] alanmoo commented on #86
Yes; is this the priority of those 3 @hannahkane?

[2016-09-14 19:45] hannahkane commented on #86
I think this is the most ready-to-go. In terms of priority, both this and /Foundation have upcoming deadlines.

[2016-09-14 20:19] edrushka commented on #86
What I really like about this is that is flattens the hierarchy of the festival team. It's essentially still a Team page, we're just broadening the definition of the team. We could keep the name "Team", and specify that everyone currently on the team page is in the "production team". Or, we could call the page Co-designers, or Collaborators or something similar.

[2016-09-14 20:24] xmatthewx commented on #82
Am I just reviewing the redpen? Overall looks good to me. I'll let @sabrinang weigh in on the details.

[2016-09-14 21:04] edrushka commented on #86
@alanmoo @hannahkane I can have the content for 3 sections ready asap:

1) Space Wranglers (photos and bios -- 32 entries -- content [here](https://docs.google.com/spreadsheets/d/100wmCld-YGysLHCpzYgovwctJkezPqQgFcOJ65mjyUk/edit#gid=1306798567), mockup [here](https://redpen.io/nw70a0d8f24c9bc983)).
2) Partner Organizations (logos/wordmarks) -- around 6-10 entries -- will collect these ASAP.
3) Pro

[2016-09-14 21:08] hannahkane commented on #86
cc @mmmavis who will do the implementation. (Sorry, @edrushka, I just realized we're having a conversation about this in a chat channel you're not in.) Going to move @mmmavis to MozFest work, since she's been doing a bunch of MozFest related stuff. This frees up @alanmoo to work on the /Foundation page, which is also high priority.

[2016-09-14 21:12] kristinashu commented on #86
I've just updated redpen with how the tabs could look https://redpen.io/so550ced71853c074b

I'm recommending shorter titles for the tab so the tabs will work better on narrower screen widths.

[2016-09-14 21:18] edrushka commented on #86
Oh nice! Shorter titles work for me given the design constraints. @Saallen please sign off on this redpen before we initiate the build.

[2016-09-14 21:19] kristinashu commented on #81
@edrushka I've updated the home page copy based on the redpen comments https://redpen.io/gx8ec85042b38ea596

I'm sure there will still be some more changes so just let me know what you decide.

[2016-09-14 21:20] kristinashu commented on #82
Cool, closing this ticket but @sabrinang please feel free to add comments in redpen.

[2016-09-14 21:20] #82 closed

[2016-09-14 21:28] edrushka commented on #81
Awesome! Thank you so much. Would you be able to do one additional variant where you add the words "and by" back into the first line of text. So it should read:
The world's leading event for -- and by -- the open internet movement.
You can try italics if the em-dashes look dumb.

[2016-09-14 21:30] kristinashu opened #95 "Prepare all team images"
Based on https://github.com/MozillaFoundation/2016.Mozillafestival.org/issues/86

Need to gather and crop images:
- [x] Space Wranglers (photos [here] (https://docs.google.com/spreadsheets/d/100wmCld-YGysLHCpzYgovwctJkezPqQgFcOJ65mjyUk/edit#gid=1306798567))
- [x] Partner Organizations (logos/wordmarks) -- around 6-10 entries
- [x] Production Team (photos [here] (https://mozillafestival.org/team))

[2016-09-14 21:39] kristinashu commented on #81
Em dash was weird because it's close to the line break so italics kinda works https://redpen.io/sy66b4fde211454a2d

[2016-09-14 21:46] edrushka commented on #81
haha! Those italics are so perky! That doesn't work as well in real life as it did in my imagination.

@Saallen @KevZawacki can you please sign off on the redpen without the italics: https://redpen.io/gx8ec85042b38ea596 I changed the CTA text at the bottom so please review. Not sure I nailed it.

[2016-09-15 12:43] KevZawacki commented on #81
@edrushka Looks good, non-italics and new CTA both

[2016-09-15 17:34] kristinashu opened #96 "Implement Team page"
Based on design in https://github.com/MozillaFoundation/2016.Mozillafestival.org/issues/86

Comps https://redpen.io/p/nfb876a7968c868f1b

New page with tabs (using tab component and fellowship bio layout from https://science.mozilla.org/programs/fellowships/fellows).

Tabs are:
- **Production:** currently exists as "[Team](https://mozillafestival.org/team)" link in the footer
- **Wranglers:** [moc

[2016-09-15 17:36] kristinashu commented on #86
Opened an implementation ticket https://github.com/MozillaFoundation/2016.Mozillafestival.org/issues/96 and a prep images ticket #95

[2016-09-15 17:36] #86 closed

[2016-09-15 17:40] kristinashu opened #97 "Implement home page updates"
Based on design in https://github.com/MozillaFoundation/2016.Mozillafestival.org/issues/81

Comp: https://redpen.io/tce99aae1e32140127

Updates:
- all copy
- "watch video" button
- image background https://drive.google.com/drive/folders/0B2irLVDJivhLbm8yLTNDeUpMZFU?usp=sharing (these are two images: background and then the bright color bar along the bottom so that the background can resize but the

[2016-09-15 17:43] kristinashu commented on #81
Great, all done! Here is the lastest version https://redpen.io/tce99aae1e32140127

Implementation ticket is here https://github.com/MozillaFoundation/2016.Mozillafestival.org/issues/97

![website-03_home](https://cloud.githubusercontent.com/assets/1068783/18560596/2ec07cc8-7b31-11e6-9974-e475b4a7daae.jpg)

[2016-09-15 17:43] #81 closed

[2016-09-15 17:45] mmmavis commented on #61
this is no longer needed. closing.

[2016-09-15 17:45] #61 closed

[2016-09-15 17:47] Saallen commented on #81
Soooo prettyyyyy 🌷

[2016-09-15 17:47] kristinashu commented on #88
@edrushka can you confirm that once tickets are sold out all we do is remove the "ticket" link in the nav bar? And the new home page design removes the link on the home page https://redpen.io/tce99aae1e32140127

When does it usually sell out? Couple days before MozFest or pretty soon?

[2016-09-15 17:59] kristinashu commented on #80
Done! Copy can be seen here https://redpen.io/tce99aae1e32140127

[2016-09-15 17:59] #80 closed

[2016-09-15 18:12] edrushka commented on #88
When tickets sell out:
- remove the ticket link in the nav
- ensure that the new landing page with the updated CTA #81 is implemented ASAP

@Saallen when should we expect it to sell out? Can we implement #81 (which changes the CTA to Sign Up for remote participation info, but keeps the tickets link at the top) before it actually sells out?

[2016-09-15 18:25] Saallen commented on #88
😭 I really hope so
Yes!

[2016-09-15 18:43] kristinashu commented on #88
Excellent! So implementing the home page updates can happen anytime soon https://github.com/MozillaFoundation/2016.Mozillafestival.org/issues/97

@mmmavis has just pointed out that people could still visit https://mozillafestival.org/tickets URL even if we stop linking to it in the nav (if they type in the url or had an old link to it). So we should probably update the copy on it to say "tickets a

[2016-09-15 18:43] mmmavis commented on #96
hey @kristinashu , what are the URLs for the 4 tabs?
- https://mozillafestival.org/team/production
- https://mozillafestival.org/team/wranglers
- https://mozillafestival.org/team/partners
- https://mozillafestival.org/team/sponsors

???

[2016-09-15 18:44] kristinashu commented on #96
Sounds good to me. @edrushka?

[2016-09-15 18:51] mmmavis commented on #95
@kristinashu mind attaching hero banner image here as well?

[2016-09-15 18:54] edrushka commented on #96
Works for me, but we still need @Saallen to sign off. I think #86 got closed before she approved.

Sarah - can you please confirm that the Team page can have 4 different groupings: production, wranglers, partners and sponsors (with those titles).

[2016-09-15 19:41] kristinashu commented on #95
@mmmavis yes, will do. Here are some of the cropped wrangler images but more are on their way https://drive.google.com/open?id=0B2irLVDJivhLU0U0emxpNnEtSEE

[2016-09-15 20:07] kristinashu commented on #95
@mmmavis here is the home page image https://drive.google.com/drive/folders/0B2irLVDJivhLbm8yLTNDeUpMZFU?usp=sharing (these are two images: background and then the bright color bar along the bottom so that the background can resize but the bright bar is always visible along the bottom). Also updated https://github.com/MozillaFoundation/2016.Mozillafestival.org/issues/97 with the link.

[2016-09-15 20:48] mmmavis commented on #94
note for myself: this is ready for implementation

[2016-09-15 23:12] kristinashu commented on #93
@mmmavis all banner images are here https://drive.google.com/drive/folders/0B2irLVDJivhLbm8yLTNDeUpMZFU?usp=sharing

The home image has a separate yellow bar at the bottom and all the others have lines coming down from two corners.

[2016-09-15 23:39] kristinashu commented on #94
Update the fav icon link https://drive.google.com/drive/folders/0B2irLVDJivhLSjhkdjUwbGZMc00?usp=sharing

[2016-09-16 15:15] KevZawacki opened #98 "Select D+D moderator"
Someone to introduce each speaker and facilitate the Q&A.

We want someone polished with experience. @edrushka @Saallen Anyone in mind? Someone from AT?

[2016-09-16 15:21] KevZawacki opened #99 "Create D+D marketing plan"
We have our speakers. Now we need an audience.

Ideas taking shape [here](https://docs.google.com/document/d/1GAFnBgOgs2tL9sc2lO7KH2ukYS9HnkYC7twLPvfpHoc/edit).

cc @edrushka @HPaulJohnson

[2016-09-16 15:24] Saallen commented on #98
I would love gunner here, if he was willing.

[2016-09-16 15:27] KevZawacki commented on #98
@Saallen That would be awesome. When / who can ask?

[2016-09-16 15:43] Saallen commented on #98
Its already on my todo list

[2016-09-16 20:54] kristinashu commented on #95
Space Wranglers and Production Team photos are here: https://drive.google.com/drive/folders/0B2irLVDJivhLU0U0emxpNnEtSEE?usp=sharing

[2016-09-16 20:56] kristinashu commented on #95
@edrushka do you know who the Partner Orgs are yet?

[2016-09-16 21:00] kristinashu commented on #96
Space Wranglers and Production Team photos are here: https://drive.google.com/drive/folders/0B2irLVDJivhLU0U0emxpNnEtSEE?usp=sharing

Wrangler bios are here: https://docs.google.com/a/mozilla.com/spreadsheets/d/100wmCld-YGysLHCpzYgovwctJkezPqQgFcOJ65mjyUk/edit?usp=sharing

Team bios are the same as on current site: https://mozillafestival.org/team

@edrushka for ordering the bios, should they be:

[2016-09-16 21:10] edrushka commented on #95
- EPIK
- The Tate
- The V&A
- Arts Award
- BBC
- Ravensbourne

@Saallen who else? Met Office?

[2016-09-16 21:11] edrushka commented on #96
I vote keeping them together by team, as we're currently doing

[2016-09-16 21:12] kristinashu commented on #95
Oooh those sound great! Have they provided logos and/or descriptions?

[2016-09-16 21:13] edrushka commented on #95
Not yet. We can track those down fairly quickly though.

[2016-09-16 21:14] kristinashu commented on #96
Ok, so we'll add section titles like on https://mozillafestival.org/spaces-and-sessions (for example Digital Arts and Culture, Journalism...)

[2016-09-16 23:53] mmmavis commented on #97
@edrushka any idea where "Sign Up" link should go? https://redpen.io/tce99aae1e32140127

[2016-09-17 00:14] edrushka commented on #97
Yes, to https://ti.to/Mozilla/mozfest-2016

[2016-09-17 00:16] edrushka commented on #97
Not sure if there is an anchor on that page so you can jump right to Sign Up For Updates, which is mid-page.

[2016-09-17 14:12] Saallen commented on #86
Hey @kristinashu @edrushka This looks great
My only flag would be what if we didnt get any sponsors? Would this make the look of the tabs seem lacking?

[2016-09-17 14:29] Saallen commented on #96
cc @chrislarry33 - do you want Mark S added to the team page as Festival Director?

[2016-09-19 09:45] Saallen opened #100 "Fringe event upload issues"
Hello @mmmavis
I am getting a lot of feedback from the community about the difficulty with the date and time question from the fringe event form.
I myself took several tries until I coped onto to the 12 hr clock.
Could we change the example given or amend the function?
Currently example is 12:00 PM - I would suggest 03:00 PM would give greater context

[2016-09-19 16:27] kristinashu commented on #86
Thanks @Saallen! It would not be a problem to have 3 tabs (even 2 tabs would be fine https://science.mozilla.org/programs/studygroups/join).

[2016-09-19 18:36] Saallen commented on #86
Great to know thanks

On 19 Sep 2016 5:28 p.m., "Kristina" notifications@github.com wrote:

[2016-09-19 21:01] mmmavis commented on #97
@edrushka there's no anchor for "sign up for updates" - I'll use https://ti.to/Mozilla/mozfest-2016 .

[2016-09-20 16:07] #93 closed

[2016-09-20 16:07] #97 closed

[2016-09-20 16:59] mmmavis opened #101 "Keep current homepage CTA"
Don't update homepage CTA to "sign up" yet

<img width="679" alt="screen shot 2016-09-20 at 9 56 31 am" src="https://cloud.githubusercontent.com/assets/2896608/18680464/bbc26e16-7f18-11e6-9e94-1b3c99401317.png">

We'll keep "Buy a Ticket" for a little longer (note that colours should be updated to 2016 colours)

<img width="794" alt="screen shot 2016-09-20 at 9 56 17 am" src="https://cloud.githubu

[2016-09-20 18:44] edrushka commented on #101
@mmmavis The red text and button are fine. Can you please change the grey text to:  MozFest 2016 is a chance to build something, grow your network and get inspired. Sound interesting?

[2016-09-20 19:45] kristinashu commented on #95
@edrushka assign this ticket to you to collect Partner Org logos and descriptions

[2016-09-20 19:54] mmmavis commented on #101
@edrushka this looks good?

![fireshot capture 66 - mozfest 2016 - http___localhost_9090_](https://cloud.githubusercontent.com/assets/2896608/18686617/613f6d36-7f31-11e6-8852-09756a09d838.png)

[2016-09-20 20:11] edrushka commented on #101
ship it! 🚢

Thanks mavis!

[2016-09-20 20:26] #101 closed

[2016-09-20 21:48] edrushka commented on #95
Tracking in this shiny new spreadsheet: https://docs.google.com/spreadsheets/d/1W6fyaEFdwxEsRnuowmU7ZBiuo-fAvnrAHK--zhCrZdM/edit#gid=0

@marcwalsh @Saallen please add any logos you have and ensure all partners are on the list

[2016-09-21 08:40] Saallen commented on #95
Going to share it on the Space wrangler call tomorrow

[2016-09-22 14:49] KevZawacki commented on #99
Hi, @edrushka and @HPaulJohnson.

I've ordered our D+D marketing ideas by (what I think is) importance, with the most impactful at the top. I've also listed likely Drivers.

Can you take a look and let me know if all looks good? Next steps would be opening tickets for these.

[2016-09-22 23:57] mmmavis commented on #94
I believe this has been taken care of. @kristinashu can you help verify and close this ticket if things look good?

[2016-09-23 00:04] kristinashu commented on #94
Everything I mentioned above ^ looks great!

Couple additional instances of the old colors tho. Are you able to search for that old red and replace with our new blue?
<img width="855" alt="screen shot 2016-09-22 at 4 59 07 pm" src="https://cloud.githubusercontent.com/assets/1068783/18769973/77643a2c-80e6-11e6-8d76-f4c2833e919a.png">
<img width="910" alt="screen shot 2016-09-22 at 5 02 46 pm" src="

[2016-09-23 00:58] mmmavis commented on #94
DONE!

[2016-09-23 00:58] #94 closed

[2016-09-23 01:07] edrushka commented on #96
Logos are here for the partners tab: https://docs.google.com/spreadsheets/d/1W6fyaEFdwxEsRnuowmU7ZBiuo-fAvnrAHK--zhCrZdM/edit#gid=0

[2016-09-23 08:53] Saallen commented on #96
Hey y'all, please only use logos and company names and titles which the Space wranglers have actually give us- if you have pulled something from the internet directly contact that wrangler to ensure we are can use that logo and we are representing them correctly

[2016-09-23 17:56] kristinashu commented on #96
Ok, we'll only use logos provided in the doc above

[2016-09-23 17:58] kristinashu commented on #95
@edrushka are we going to have a description for each org or link the logo to their website?

[2016-09-23 18:06] kristinashu commented on #96
@mmmavis please note:
- Production team and Wranglers tabs: good to go!
- Partners: still gathering logos
- Sponsors: might not have this tab so hold off on this one

[2016-09-23 18:41] Saallen commented on #96
Argh- Github fail- didnt mean to close-

[2016-09-23 19:22] edrushka commented on #95
Link logo to website would be best. It will be hard to track down written descriptions from each. I will add the links to the spreadsheet.

[2016-09-23 21:57] edrushka commented on #96
Mark's bio ticket is here: https://github.com/MozillaFoundation/Mozfest2016_production/issues/159

[2016-09-23 23:17] kristinashu commented on #95
Since we don't have descriptions, here's a new layout to work with logos only. (Note: logos are only placeholder until we have confirmation we can use them.) https://redpen.io/sue140ff7e7eda35ea

![website-03_team copy](https://cloud.githubusercontent.com/assets/1068783/18803863/28104e2a-81a9-11e6-892c-ff7c22c3476d.jpg)

cc @mmmavis

[2016-09-26 15:40] KevZawacki commented on #99
Going to start opening individual tickets for these -- will close this initial master ticket.

[2016-09-26 15:40] #99 closed

[2016-09-26 15:52] edrushka commented on #95
All [partner logos](https://docs.google.com/spreadsheets/d/1W6fyaEFdwxEsRnuowmU7ZBiuo-fAvnrAHK--zhCrZdM/edit#gid=0) have been approved by the organizations 👍

[2016-09-26 15:56] Saallen commented on #95
We are still missing people from this list- I seem to be missing my entry of the list of other partners will chase asap

[2016-09-26 15:56] edrushka commented on #96
Mark's bio and photo are ready in MozillaFoundation/Mozfest2016_production#159

[2016-09-26 16:11] kristinashu commented on #96
Cropped image of Marc is with the rest of the team photos in Drive: https://drive.google.com/drive/folders/0B2irLVDJivhLU0U0emxpNnEtSEE?usp=sharing

[2016-09-26 16:24] Saallen commented on #96
Hey @kristinashu  can you update my title to Executive Festival Director
Thanks !

[2016-09-26 16:29] kristinashu commented on #96
@mmmavis will have to do it

[2016-09-26 16:41] KevZawacki opened #102 "Coordinate D+D timings with Space Wranglers"
- Encourage wranglers to promote D+Ds within their space
- Encourage wrangles to program fewer sessions / close spaces during D+Ds

@edrushka @Saallen Let me know how I can help!

[2016-09-26 16:42] KevZawacki opened #103 "Plug D+D on main stage"
Have Mark and Gunner promote D+D during opening keynotes

[2016-09-26 16:45] KevZawacki opened #104 "Create D+D signage and posters for venue"
- Promote D+D on screens throughout venue
- Promote D+D with slick posters (complete with speaker headshots) throughout venue

If design cannot commit resources, @edrushka and @kevzawacki to create.

[2016-09-26 16:50] KevZawacki opened #105 "Add D+D speakers to mozfest.org homepage"
Promote D+D on mozfest.org homepage. Here's a neat [benchmark](http://go.personaldemocracy.com/) (below the fold).

[2016-09-28 18:21] kristinashu opened #106 "Add space icons to Spaces and Sessions page"
Icons are done so I will prep them for the website, then @mmmavis can add them to https://mozillafestival.org/spaces-and-sessions

[2016-09-28 21:34] kristinashu commented on #106
@mmmavis here are the icons (note, they are slightly different than the schedule app ones which are better at small sizes):

[Space icons.zip](https://github.com/MozillaFoundation/2016.Mozillafestival.org/files/499297/Space.icons.zip)

Widths for each icon:
open science: 45px
localisation: 28px
youth zone: 43px
journalism: 43px
open badges: 38px
Digital Arts and Culture: 42px
Fuel The Movement: 47

[2016-09-29 13:23] KevZawacki commented on #98
Hey there. Any updates on our D+D moderator? Is Gunner in? :-)

[2016-09-29 14:00] Saallen commented on #98
I will chase today

Sarah Allen

Events Manager and Mozilla Festival Producer
Mozilla Foundation

Find out more about MozFest https://mozillafestival.org/ and follow the
conversation on twitter https://twitter.com/mozillafestival?lang=en-gb

On 29 September 2016 at 14:23, Kevin Zawacki notifications@github.com
wrote:

[2016-09-29 23:23] edrushka opened #107 "Design "live festival" landing page"
Based on the discussion in https://github.com/MozillaFoundation/Mozfest2016_production/issues/16, which led to the [decisions documented here] (https://docs.google.com/document/d/1HQkzvdWCcTxnFOWlL-6gPrM4xtIivZwo0b7DINnM9ZU/edit#), we'll need a slight redesign of the landing page for when the festival is live to accommodate the following:

- [x] live streaming/archive of videos
-- 1 Saturday morni

[2016-09-29 23:27] edrushka commented on #107
One thought is to highlight the 11 individual speakers [similar to what XOXO does](http://xoxofest.com/).
It could be a static photo with the name and title of speech. Clicking before the festival would link to their entry on the schedule app (?). Clicking after the festival would link to their archived talk.

[2016-09-29 23:27] edrushka commented on #107
cc @xmatthewx @hannahkane @kristinashu

[2016-09-30 00:40] kristinashu commented on #107
How are we planning to live stream?

cc @mmmavis for technical input

[2016-09-30 16:41] edrushka commented on #107
We will be livestreaming on Facebook so the website can either embed that stream (not sure if that's possible) or just link to it. CC-ing @simonwex and @KevZawacki who were at the tech scoping meeting a while back.

[2016-09-30 21:26] kristinashu commented on #107
For during the festival, I recommend we have a very simple solution: intro text, image and one link to the live stream on Facebook.

After the festival, we can look at archiving all the talks individually (like https://xoxofest.com/).

[2016-09-30 21:52] edrushka commented on #107
I am on board with very simple. Kevin has reached out to the MoCo Facebook streaming peeps and is setting up a meeting for next week, so we'll have some of the technical details soon.

[2016-10-03 18:54] kristinashu commented on #104
Here are tickets for video screens around Ravensbourne https://github.com/MozillaFoundation/Mozfest2016_production/issues/170
and for the posters https://github.com/MozillaFoundation/Mozfest2016_production/issues/167

Does that cover it?

[2016-10-03 18:57] kristinashu commented on #95
We're still missing:
- The Met office
- Teck4girls
- UCANTOO
- translate.org

Is it ok to launch the team pages without them?

[2016-10-03 19:03] Saallen commented on #95
We do have them-  @kristinashu here https://drive.google.com/drive/folders/0B_B9-Ny1xBaRMzJpYmVHU0VVTFk and some of them uploaded them directly to the bio github issue

[2016-10-03 19:12] edrushka commented on #104
Yes, I think that's it for print/digital.

[2016-10-03 19:13] edrushka commented on #95
@saallen can you unlock access to that doc

[2016-10-03 19:14] kristinashu commented on #95
Got them, thanks!

[2016-10-03 22:00] edrushka commented on #95
@Saallen we're still missing
- The Met Office
- Tech4Girls

If these arrive, please add them to the [Logos for partner section on team page spreadsheet](Logos https://docs.google.com/spreadsheets/d/1W6fyaEFdwxEsRnuowmU7ZBiuo-fAvnrAHK--zhCrZdM/edit#gid=0) and let us know in this ticket.

(Also just a note that any late SW bios and photos need to be updated to the [Bios tab](https://docs.google.com/

[2016-10-04 16:59] kristinashu commented on #96
@mmmavis we have some new wrangler images: https://docs.google.com/spreadsheets/d/100wmCld-YGysLHCpzYgovwctJkezPqQgFcOJ65mjyUk/edit#gid=1306798567
[new wranglers.zip](https://github.com/MozillaFoundation/2016.Mozillafestival.org/files/509037/new.wranglers.zip)
Once these are added, there should only be 4 wranglers without an image or bio (everyone else should have an image + bio).

We also have tw

[2016-10-04 20:53] kristinashu commented on #107
Linking content: [bios](https://docs.google.com/document/d/14VXDQcdKjOztX62HxYbnHXrPjwD-xR3ATY03KcsPVSo/edit) & [pics](https://drive.google.com/drive/folders/0B-BKZVAww2KHRzlGOWNfc19rZGc)

[2016-10-04 21:28] mmmavis commented on #96
any idea where we wanna link "UCanToo" and "Translate" to?

[2016-10-04 21:30] kristinashu commented on #96
I believe http://www.ucantoo.org.uk/ and http://www.translate.org.za/

[2016-10-04 22:08] mmmavis commented on #96
cool!

[2016-10-05 18:12] kristinashu commented on #107
@edrushka here is a design for the most straightforward way we could do this https://redpen.io/xv5545c0e96da474b5

[2016-10-05 18:45] edrushka commented on #105
This is a duplicate of https://github.com/MozillaFoundation/2016.Mozillafestival.org/issues/107 so I'm going to close.

[2016-10-05 18:45] #105 closed

[2016-10-05 18:57] edrushka commented on #107
Awesome - this is essentially the MVP. Are there any options to jazz this up a bit with a speakers photo, or mainstage photo or a graphic that suggests live content?

Example photos:
- https://www.flickr.com/photos/mozfest/22867318371/in/album-72157660181490099/
- https://www.flickr.com/photos/mozfest/22433077929/in/album-72157658567152683/
- https://www.flickr.com/photos/mozfest/22455735387/in/al

[2016-10-05 20:04] kristinashu commented on #107
Cool, I'll try those.

Can we get some copy? @KevZawacki would you be the one writing this?

[2016-10-05 21:14] Saallen commented on #96
Heyo- I think partners logos are good to go- I added some more

[2016-10-05 22:30] edrushka commented on #107
**Blue Banner text:**
MozFest
The world's leading festival for the open internet movement.
Watch MozFest's speaker series live, beginning  Oct. 29 11 a.m. BST

**CTA Banner text** (draft, but this should work for the mockup)
Missed MozFest this year?
Sign up for MozFest updates and be first in line to get your tickets for 2017
[links to ti.to form]

[2016-10-05 23:50] kristinashu commented on #96
Here is how the page looks now:
<img width="864" alt="screen shot 2016-10-05 at 4 45 31 pm" src="https://cloud.githubusercontent.com/assets/1068783/19135669/388ce062-8b1b-11e6-960c-414fd7220759.png">

Based on the [spreadsheet](https://docs.google.com/spreadsheets/d/1W6fyaEFdwxEsRnuowmU7ZBiuo-fAvnrAHK--zhCrZdM/edit#gid=0), it sounds like we need to:
- remove EPIK
- add Tech4girls logo (no URL)
- a

[2016-10-05 23:53] #95 closed

[2016-10-05 23:59] kristinashu commented on #107
Based on our chat, I will:
- Updated copy
- Removed blog CTA
- Add speaker photos + names

[2016-10-06 00:21] edrushka commented on #96
+1 remove EPIK - I am still in email discussion with Dorine about a replacement logo (looking like no at the moment).

[2016-10-06 17:25] #96 closed

[2016-10-06 17:28] kristinashu commented on #96
yay!

[2016-10-06 18:34] mmmavis commented on #96
I'll open a new PR to tackle the logo changes you mentioned: https://github.com/MozillaFoundation/2016.Mozillafestival.org/issues/96#issuecomment-251832058

[2016-10-06 18:36] edrushka commented on #96
pls cc me in that new ticket I finally got an answer on the EPIK logo

[2016-10-06 18:39] mmmavis commented on #96
@edrushka To prevent the ticket to linger too long, [this "new" ticket](https://github.com/mozilla/mozillafestival.org/issues/461) will only cover

When EPIK logo is ready please create a new ticket just for that and assign it to me. Thanks! 😉

[2016-10-06 19:19] Saallen commented on #96
Hey, I just wanted to add open institute too. I added them to the logo list
yesterday. Can they go on this new update?
Sarah

On 6 Oct 2016 7:39 p.m., "Mavis Ou" notifications@github.com wrote:

[2016-10-06 20:35] mmmavis commented on #106
@kristinashu I believe the width values are supposed to be doubled. I've reflected that changes in the PR.

[2016-10-06 21:59] edrushka commented on #96
I will make a ticket for new EPIK and Open Institute logos.

[2016-10-06 23:12] edrushka opened #108 "Update and add partner logos"
1. Replace EPIK logo with Youth Led EU (Just text, there is no official logo. Same font as EPIK logo is fine)
Links to: https://www.facebook.com/YouthLedEU/

2. Add new logo: Open Technology Institute https://na-production.s3.amazonaws.com/images/oti-web-5.min-200x100.png
Link to: http://www.newamerica.org/oti/

[2016-10-06 23:12] edrushka commented on #96
For reference, ticket is #108

[2016-10-06 23:15] edrushka opened #109 "Update Dorine's Bio"
1. Change the twitter account  from @EPIKhub to @dorineFlies
2. Add website https://medium.com/@DorineFlies

[2016-10-07 02:54] mmmavis commented on #108
@kristinashu can you help process these images? 😉

[2016-10-07 13:06] Saallen commented on #96
thanks yoooouu

Sarah Allen

Executive Festival Director, MozFest
Mozilla Foundation

Find out more about MozFest https://mozillafestival.org/ and follow the
conversation on twitter https://twitter.com/mozillafestival?lang=en-gb

On 7 October 2016 at 00:12, Erika Drushka notifications@github.com wrote:

[2016-10-07 13:32] KevZawacki commented on #98
Hi @Saallen, any word from Aspiration Tech on moderating the D+Ds?

Should I butt out? :-)

Just want to make sure we'll have the right person.

[2016-10-07 13:48] Saallen commented on #98
Hey @KevZawacki Gunner and myself have been back and forth all week trying to a meeting time that suits. Hope to speak to him on Monday now- will update you

Why is there no butt emoji??

[2016-10-07 18:33] kristinashu commented on #108
Here you go:
![opentechnology](https://cloud.githubusercontent.com/assets/1068783/19201288/e53562b4-8c81-11e6-8855-52c2c8de17b1.jpg)
![youthledeu](https://cloud.githubusercontent.com/assets/1068783/19201287/e5253cc2-8c81-11e6-9a55-91e9c939eba8.jpg)

[2016-10-07 18:38] #106 closed

[2016-10-07 20:22] #108 closed

[2016-10-07 20:47] #109 closed

[2016-10-07 22:43] kristinashu commented on #107
@edrushka I've added the speakers and a couple banner image options https://redpen.io/p/nfb876a7968c868f1b

[2016-10-07 22:55] edrushka commented on #107
Ohhh very nice! 💃 I like the both options!
@KevZawacki @HPaulJohnson @Saallen If you have comments can you please leave them in the redpen by EOD Monday? Thank you. (Reminder - this is for what the website will look like during and for a few weeks after MozFest.)

[2016-10-08 12:36] Saallen commented on #107
Done!

[2016-10-10 13:58] KevZawacki commented on #107
Done! This design is beautiful -- can/will it be live in the weeks before, too?

[2016-10-11 16:43] kristinashu commented on #107
Thanks everyone! I've updated redpen with the few bits of feedback https://redpen.io/p/nfb876a7968c868f1b and will prep the file for @mmmavis to start implementing.

[2016-10-11 16:50] kristinashu opened #110 "Implement "live festival" landing page"
Based on design in #107 and seen here https://redpen.io/qa0ea25b456b54b2ed

All the speaker images and the new banner image are here: https://drive.google.com/open?id=0B2irLVDJivhLM0dnVWdTbkpINzQ

We might need to do some QA and adjust the home banner to make it crop properly (so the face isn't hidden behind the text or cut off).

.ai file is here: https://drive.google.com/open?id=0B2irLVDJivhLZTE

[2016-10-11 16:51] edrushka commented on #107
This looks beautiful. Thanks @kristinashu 🌷

[2016-10-11 16:52] edrushka commented on #110
@hannahkane can you please confirm who the dev will be who will implement these changes to the MozFest website?

[2016-10-11 16:54] kristinashu commented on #107
Here's the implementation ticket https://github.com/MozillaFoundation/2016.Mozillafestival.org/issues/110

[2016-10-11 16:54] #107 closed

[2016-10-11 16:55] hannahkane commented on #110
The Connecting Leaders team is tasked with MozFest work, so I would think @mmmavis. @mmmavis - does that work for you?

cc @simonwex

[2016-10-11 18:11] edrushka commented on #110
@mmmavis This could be done after the schedule work has been handed off to Dan. Ideally this would go live sometime during the week of Oct 24. Drop dead deadline would be Oct 28.

[2016-10-11 18:21] mmmavis commented on #110
@edrushka this shouldn't take me too long to build since it's mainly just adding people's name, pic, and Twitter to the page. I should be able to get it live on Oct 24 (Monday) unless a later date is preferred.

Note that I won't be managing spreadsheet much but I still need to work on
- adding GA to schedule app
- set up Mozbot so that schedule app can be easily updated when needed

[2016-10-11 18:23] edrushka commented on #110
Thanks for clarifying!

And let's aim for the 24th and we'll have a few days of wiggle room if other dev stuff comes up.

Thanks @mmmavis 🌷

[2016-10-11 18:23] kristinashu commented on #110
Few notes about links:
- "Watch live" links to https://www.facebook.com/mozilla
- Bio pics and names aren't links, only the twitter handles link
- @edrushka do you know what "Sign up" should do?

[2016-10-11 18:29] edrushka opened #111 "Confirm CTA for 'live' version of site"
For the 'live' version of the site (Oct 24 until whenever we change it - probably Nov or Dec), the CTA I've drafted is:

Missed MozFest This Year?
Sign up for MozFest updates and be first in line to get your tickets for 2017.

You can see it on t[his redpen](https://redpen.io/qa0ea25b456b54b2ed)

@Saallen @KevZawacki @HPaulJohnson @steviebenton does this work for you?

If so, Sarah, what ti.to for

[2016-10-11 18:30] edrushka commented on #110
It should like to a ti.to form - the question is which one. I've opened #111 as I expect there will be a bit of discussion around this.

[2016-10-11 19:44] KevZawacki commented on #111
@edrushka Works for me!

[2016-10-12 10:04] StevieBenton commented on #111
Looks good to me, too. If there is space, can we have something asking them for content?

[2016-10-12 10:35] marcwalsh-zz commented on #111
@edrushka The easiest thing to do would be to create the MozFest 2017 event on ti.to and send them to the register interest form on there. It'll mean that all the signups can be emailed through ti.to and it can be tracked on next year's events stats.

[2016-10-12 15:12] edrushka opened #112 "Remove link on volunteer page"
Volunteer positions are now filled.

On https://mozillafestival.org/volunteer remove button and replace with unlinked bold text that reads

**All volunteer roles for MozFest 2016 have been filled.**

cc @spikeuk

[2016-10-12 15:14] edrushka opened #113 "Change Luca's bio"
On the wranglers tab of the team page, remove the last line on Luca's bio that reads

"Title- Digital Studio Producer, Tate and Lecturer in Media Design, University Arts London."

[2016-10-12 15:16] edrushka commented on #111
@StevieBenton no space on the landing page as we can only have 1 CTA per banner

@marcwalsh Great! Are you able to set up the form and paste the link here?

[2016-10-12 18:32] Saallen commented on #111
I set up the 2017 to.ti page. Whomever set the 2016 updates page, would
they like to add the design treatments again?

On 12 Oct 2016 4:25 p.m., "Erika Drushka" notifications@github.com wrote:

[2016-10-12 18:36] edrushka commented on #111
Ti.ti link is here: https://ti.to/Mozilla/mozfest-2017
needs some sprucing up before we start linking to it.

[2016-10-12 18:37] edrushka commented on #110
Link to ti.to sign up form is here: https://ti.to/Mozilla/mozfest-2017

[2016-10-12 18:45] edrushka opened #114 "Spruce up 2017 ti.to form"
Need to add an image and icon to the 2017 Sign up for more information form.

https://ti.to/Mozilla/mozfest-2017 should look nice, like: https://ti.to/Mozilla/mozfest-2016/

@hannahkane @xmatthewx I think Ricardo did this last year so I'll leave you to assign. We can duplicate look of 2016 exactly or update slightly with the style guide. Not a design priority IMO.

I think this is principally a de

[2016-10-12 18:47] edrushka commented on #111
Filed a sprucing up ticket here https://github.com/MozillaFoundation/2016.Mozillafestival.org/issues/114 Need Hannah or Matthew to assign.

Closing this, as I don't think there's anything else for discussion.

[2016-10-12 18:47] #111 closed

[2016-10-12 18:59] #113 closed

[2016-10-12 19:00] #112 closed

[2016-10-12 19:06] #100 closed

[2016-10-12 22:04] xmatthewx commented on #114
I'd hope we would just need to add a new banner image. Let's discuss on our stand. Maybe best to have Mavis take a peek under the hood to gather requirements?

[2016-10-12 22:28] edrushka commented on #114
+1 @hannahkane can I assign to Mavis to check out the requirements?

[2016-10-12 22:31] hannahkane commented on #114
WFM, if Mavis has the bandwidth.

[2016-10-12 22:47] edrushka commented on #114
@mmmavis can you let us know the requirements to make https://ti.to/Mozilla/mozfest-2017 look nice, like: https://ti.to/Mozilla/mozfest-2016/
- MVP: add a banner image
- Nice to haves: add icon and styled text

Note that the 2017 page won't sell tickets - it just needs to collect email addresses.

[2016-10-12 22:53] mmmavis commented on #114
### 2016 tito page: ( https://ti.to/Mozilla/mozfest-2016/ )
- banner, background color, and some text are set in https://ti.to/Mozilla/mozfest-2016/admin/settings/homepage
- icon and text are set in https://ti.to/Mozilla/mozfest-2016/admin/settings/basics
- banner: https://d2z6c3c3r6k4bx.cloudfront.net/uploads/event/banner/1010238/86c31ff0a9230c89f1306b41616c3850.jpg

### 2017 tito page: ( https:/

[2016-10-12 23:18] edrushka commented on #114
ty Mavis! 🐻

@kristinashu  I'm fine with using the main banner image from https://mozillafestival.org/

[2016-10-12 23:40] kristinashu commented on #114
Ok, I'll resize the home page image (no text overtop) and the logo in 2016 pink.

[2016-10-13 23:39] edrushka commented on #102
Closing this, since you sent the emails to the SW's @KevZawacki. Feel free to re-open if there is more to do here.

[2016-10-13 23:39] #102 closed

[2016-10-13 23:40] edrushka commented on #104
Closing, as this conversation is happening in https://github.com/MozillaFoundation/Mozfest2016_production/issues/167

[2016-10-13 23:40] #104 closed

[2016-10-17 13:26] edrushka opened #115 "Update festival timings"
Please update the timings on https://mozillafestival.org/expect

#### Saturday
- Change lunch to 12:00 to 14:00

#### Sunday
- change 10:00 Welcome & Opening to 9: 30 MozFest Breakfast
- change 14:30 Afternoon sessions begin to 14:00 Afternoon sessions begin

@mmmavis after you get the schedule live on prod can you please make this your second priority? We want to point people to the page in an em

[2016-10-17 13:26] edrushka commented on #115
@KGorr to see when this has been done

[2016-10-17 15:54] KevZawacki commented on #98
Sarah Marshall! :-)

[2016-10-17 15:54] #98 closed

[2016-10-17 20:34] #115 closed

[2016-10-18 12:43] edrushka opened #116 "Add Internews to the partners tab of team page"
Please add this logo to https://mozillafestival.org/team/partners
![a_color_horizontal_tag](https://cloud.githubusercontent.com/assets/4515662/19477972/95812b4e-9538-11e6-84ee-da8ca03c57c6.jpg)
cc @kristinashu for making grey scale

Link to http://internews.org/

[2016-10-18 12:52] edrushka opened #117 "Add Schedule link to top nav"
Please add a link to the schedule in the top nav. It can go after 'Tickets'. It should just say 'Schedule'.

Link to https://app.mozillafestival.org/

[2016-10-18 13:03] edrushka opened #118 "Update Space & Sessions page with Schedule"
#### 1) Update Spaces and Sessions paragraph

Change to:

Spaces are physical and thematic learning hubs based around a broad topic, like science, art, or journalism. A Space is made up of sessions, which are hands-on, educational gatherings based around a specific topic, like “Using Crafts to Teach Localization Processes.” Sessions generally run 30-90 minutes.

[View the MozFest 2016 schedule] (h

[2016-10-18 21:15] kristinashu commented on #116
@mmmavis here's the logo
![internews](https://cloud.githubusercontent.com/assets/1068783/19496660/4f42dfe2-953d-11e6-875a-69258f97985c.jpg)

[2016-10-18 21:21] kristinashu commented on #114
Here's a crop banner image and a pink gear logo:
![titobg](https://cloud.githubusercontent.com/assets/1068783/19496822/223dddca-953e-11e6-8b43-023e96f6f4e7.jpg)
![76x76 2x](https://cloud.githubusercontent.com/assets/1068783/19496811/18bfb0ca-953e-11e6-93bc-087b6b4cec1b.png)

[2016-10-19 02:30] mmmavis commented on #114
@edrushka I've uploaded the 2 images onto https://ti.to/Mozilla/mozfest-2017/

[2016-10-19 02:52] mmmavis commented on #118
@edrushka should link for MozEx stays as https://github.com/MozillaFoundation/mozfest-program-2016/issues?q=is%3Aopen+is%3Aissue+milestone%3A%22Session+accepted%22+label%3A%22%5BExperience%5D+Moz+Ex%22 ?

[2016-10-19 02:52] #116 closed

[2016-10-19 02:52] #117 closed

[2016-10-19 08:59] edrushka commented on #118
Ohh good catch. Let's make the link for MozEx point to their Issuu page: https://issuu.com/mozfest/docs/mozex For this one can you change the linked text to read
**See the artwork in this space.**

[2016-10-19 09:01] edrushka commented on #118
cc @Saallen ^ On the Spaces page on the website, every other space goes to Schedule, but since MozEx isn't really doing sessions, I suggest we point to the Issuu page. Cool?

[2016-10-19 13:49] edrushka commented on #114
Sorry @kristinashu - I meant the blue/pink glitch image. Not the photo of Raegan. The Raegan photo seems a bit weird on ti.to.

[2016-10-19 13:51] edrushka commented on #114
The two women looking awestruck from https://mozillafestival.org/spaces-and-sessions works as well. Perhaps you could prep both in case the blue/pink doesn't work without a text overlay.

[2016-10-19 15:46] kristinashu commented on #114
Lets go with the photo:
![titobg](https://cloud.githubusercontent.com/assets/1068783/19526163/64d9e058-95d8-11e6-994e-adb4c5068adc.jpg)

[2016-10-19 17:23] edrushka commented on #118
Luca said yes. Let's do this.

[2016-10-20 19:53] Saallen opened #119 "Logo not linking"
The tech girls logo on the partners page of the website is not linking to a website
Can you link it to http://www.tech-girls.org? @mmmavis  can you fix this?
🔗

[2016-10-20 20:03] mmmavis commented on #114
https://ti.to/Mozilla/mozfest-2017/ updated. @erikad I'll leave this to you to add copy directly via Tito's dashboard. 👍

[2016-10-21 13:05] edrushka commented on #114
Done! https://ti.to/Mozilla/mozfest-2017

[2016-10-21 13:05] #114 closed

[2016-10-21 13:09] edrushka commented on #110
ti.to sign up form has been beautified - it's ready to go! https://ti.to/Mozilla/mozfest-2017

[2016-10-21 13:10] edrushka commented on #103
Closing. This has been communicated to Claw and Lotta.

[2016-10-21 13:10] #103 closed

[2016-10-21 14:09] #119 closed

[2016-10-22 14:02] edrushka opened #120 "Post-festival changes to site"
Site updates to go live _immediately_ after the festival (Sunday night or Monday morning) based on what's on staging: http://mozillafestival-org-staging.herokuapp.com/
#### Top Nav
- [x] Replace TICKETS with PULSE. Links to:  https://mzl.la/mozfest-pulse?keyword=mozfest (confirm in https://github.com/MozillaFoundation/Mozfest2016_production/issues/200)
- [x] Replace LOCATION with BLOG. Links to: h

[2016-10-22 14:26] edrushka opened #121 "Links to archived Speaker Series talks"
This is a collection of the archived talks. Note these are _not_ the edited, polished versions Dosed is preparing. This is the interim solution until Dosed's videos are ready in Nov/Dec.

Zeynep Tufekci
Brian Behlendor
Maggie Vail
Mark Surman
Sahar Aziz
Katherine Maher
Chris Soghoian
Ashe Dryden
Volker Birk
Katharina Borchert
Simone Browne
Eliot Higgins

[2016-10-22 14:26] edrushka commented on #121
cc @KevZawacki for filling in links as soon as we have them

[2016-10-22 14:39] edrushka commented on #120
I'm aware we link to blog twice. Once in top nav. Once in bottom icon. That's fine.

[2016-10-24 19:58] #118 closed

[2016-10-25 12:31] edrushka opened #122 "Add Michael Saunby to list of SW"
On https://mozillafestival.org/spaces-and-sessions add Michael Saunby to the list of Space Wranglers in Dilemmas https://mozillafestival.org/spaces-and-sessions#a-tale-of-two-cities:-dilemmas-in-connected-spaces

Links to: https://mozillafestival.org/team/wranglers#michael-saunby

[2016-10-25 17:56] #122 closed

[2016-10-26 11:00] alanmoo commented on #120
I've started these changes in https://github.com/mozilla/mozillafestival.org/tree/post-festival-updates, will update that as I get more links.

[2016-10-26 11:54] alanmoo commented on #88
Since we're so close, I'm closing this as per @edrushka. If we do sell out, we'll just remove the link from the top nav.

[2016-10-26 11:54] #88 closed

[2016-10-30 11:08] KevZawacki commented on #121
Hi, all.

All links:

[Zeynep Tufekci, Brian Behlendorf, and Maggie Vail](https://air.mozilla.org/mozfest-speaker-series-our-digital-lives/) (Block titled "Our Digital Lives")
- Brian starts at 28:33
- Maggie starts at 50:45

[Mark Surman, Mitchell Baker, and Sahar Aziz](https://air.mozilla.org/mozfest-speaker-series-surveillance-and-privacy-online/) (Block titled "Surveillance and Privacy Online.